EXPLORING THE INDIAN STARTUP ECOSYSTEM

BUSINESS UNDERSTANDING

This project analyze the funding recieved by startups in india from 2018 to 2021. the goal is to investigate the india startups ecosystem and propose strategic recommendations based on data-driven insight, the datasets are provided for each year. and this analysis will cover startups details,funding amounts, and investors information. data is stored across various sources and it is crucial to gather,clean and analyze this data to drive meaningful insights.

HYPOTHESIS

Null Hypothesis(Ho):there is no significant difference in the amount of funding between startups in  "Alocation".
Alternative hypothesis(H1): There is a significant difference in the amount of funding between startups in "Blocation".

ANALYTICAL QUESTIONS

1. What sector  has shown the highest growth in term of funding  recieve over the past 4 years?
2. what geograhical region within india have emerged as the primary hubs for startsup activities and investment and what factors contribute to their prominence
3. Are there any notable differences in funding patterns between early-stage startups and more established companies?
4. which sectors recieve the lowest level of funding and which sector recieve the highest level of funding in india and what factor contribute to this?
5.  which investors has more impact on startsup over the years?
6.  what are the key characteristics of startsup that successfully secure funding and funding and how do they differ from those that stuggle to attract investment ?

DATA UNDERSTANDING

FEATURE DESCRIPTION

Company_Brand:Name of the company/startup

Founded:it contains the year the companies were created

Headquarter: where the companies are located in indian i.e the geographical locations of the companies

Sectors: sector of service

what it does: the description about what the companies does

founders: the names of those who found the companies

investors: these are the names of the shareholders/those who invested in the companies

Amount($): the amount invested in the starting of the companies

Stage:round of funding reached

In [1]:
%pip install pyodbc
%pip install python-dotenv
%pip install scipy
%pip install missingno

Requirement already satisfied: pyodbc in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dotenv in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: scipy in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (1.13.0)
Requirement already satisfied: numpy<2.3,>=1.22.4 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from scipy) (1.26.4)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: missingno in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (0.5.2)
Requirement already satisfied: numpy in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from missingno) (1.26.4)
Requirement already satisfied: matplotlib in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from missingno) (3.8.3)
Requirement already satisfied: scipy in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from missingno) (1.13.0)
Requirement already satisfied: seaborn in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from missingno) (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (4.50.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from seaborn->missingno) (2.2.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
# import all necessary libraries

#data manipulation
import numpy as np
import pandas as pd 
import missingno as msno

#statistical libaries
from scipy import stats
import statistics as stat

#data visualization libraries
import matplotlib.pyplot as plt 
import seaborn as sns 

#database connection libraries
import pyodbc 
from dotenv import dotenv_values

#hide warnings
import warnings
warnings.filterwarnings('ignore')

Setup Database Connection to extract  2020 and 20201 datasets

In [6]:

# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')
 
# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("UID")
password = environment_variables.get("PWD")

In [7]:

# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete.
# Check your internet connection if it takes more time than necessary
 
connection = pyodbc.connect(connection_string)

In [8]:
# loading the 2020 dataset from SQL Server
query="SELECT * FROM dbo.LP1_Startup_funding2020"
data_2020=pd.read_sql(query, connection)
data_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [ ]:
# check some of the information of the data1
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [ ]:
data_2020.shape

(1055, 10)

In [9]:
query="SELECT * FROM dbo.LP1_Startup_funding2021"
data_2021=pd.read_sql(query, connection)
data_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [ ]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [10]:
data_2019=pd.read_csv('C:/Users/BALKIS/OneDrive - Azubi Africa/my azubi africa career accelerator projects/LP1/Hypothesis-Testing-and-Eda-on-Indian-Startups-Ecosystem/notebooks/startup_funding2019.csv')
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [ ]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [11]:
data_2018=pd.read_csv("C:/Users/BALKIS/OneDrive - Azubi Africa/my azubi africa career accelerator projects/LP1/Hypothesis-Testing-and-Eda-on-Indian-Startups-Ecosystem/notebooks/startup_funding2018.csv")
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [ ]:
data_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

Data Assesment

After the data has been loaded, a visual assessment was done on the quality of the data. we realized there are some  issues with the data,this include;
1. inconsistency with the data and some missing column
2. inconsistence values and currencies in the amount column
3. inconsistency values in the sector,location and industry column

DATA CLEANING OF THE 2020 DATASET

In [12]:
# convert to dataframe
df_2020=pd.DataFrame(data_2020)
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [ ]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [13]:
# add year column to indicate which year the data is from
df_2020['Funding_Year']=2020

In [ ]:
df_2020.nunique()

Company_Brand    905
Founded           26
HeadQuarter       77
Sector           302
What_it_does     990
Founders         927
Investor         848
Amount           300
Stage             42
column10           2
Funding_Year       1
dtype: int64

In [14]:
df_2020 = df_2020.rename(columns={'Amount': 'Amount($)'})

In [ ]:
df_2020.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,842.0,2.015363e+03,4.097909e+00,1973.0,2014.0,2016.0,2018.0,2.020000e+03
Amount($),801.0,1.130430e+08,2.476635e+09,12700.0,1000000.0,3000000.0,11000000.0,7.000000e+10
Funding_Year,1055.0,2.020000e+03,0.000000e+00,2020.0,2020.0,2020.0,2020.0,2.020000e+03

In [ ]:
df_2020.isnull().mean()

Company_Brand    0.000000
Founded          0.201896
HeadQuarter      0.089100
Sector           0.012322
What_it_does     0.000000
Founders         0.011374
Investor         0.036019
Amount($)        0.240758
Stage            0.439810
column10         0.998104
Funding_Year     0.000000
dtype: float64

In [15]:
# check for duplicates
df_2020.duplicated().sum()

3

In [16]:
# drop the duplicates present
df_2020.drop_duplicates()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,column10,Funding_Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None,2020
...,...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None,2020
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None,2020
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None,2020
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None,2020
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None,2020

In [ ]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount($)      801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
 10  Funding_Year   1055 non-null   int64
dtypes: float64(2), int64(1), object(8)
memory usage: 90.8+ KB

In [ ]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount($)      801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
 10  Funding_Year   1055 non-null   int64
dtypes: float64(2), int64(1), object(8)
memory usage: 90.8+ KB

In [17]:
#drop column10 because there are a lot of missing values in it and its an unneccessary column
df_2020.drop(columns='column10', axis=1,inplace=True)

In [18]:
# Converting the funded column to numeric data
df_2020['Founded'] = pd.to_numeric(df_2020['Founded'], errors='coerce').convert_dtypes(int)

In [19]:

df_2020['Amount($)'].isnull().sum()

254

CLEANING THE AMOUNT COLUMN

The null values in the amount column should be filled with it median

In [20]:
# find the median value
median_value = df_2020['Amount($)'].median()

# fill the null values in the amount column with it median value 
df_2020['Amount($)'].fillna(median_value,inplace=True)

In [ ]:
 
# df_2020['Amount'] = df_2020['Amount'].apply(lambda x:float(x))

In [ ]:
 
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    Int64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount($)      1055 non-null   float64
 8   Stage          591 non-null    object
 9   Funding_Year   1055 non-null   int64
dtypes: Int64(1), float64(1), int64(1), object(7)
memory usage: 83.6+ KB

CLEANING THE SECTOR COLUMN

In [ ]:
 
df_2020['Sector'].unique()

array(['AgriTech', 'EdTech', 'Hygiene management', 'Escrow',
       'Networking platform', 'FinTech', 'Crowdsourcing',
       'Food & Bevarages', 'HealthTech', 'Fashion startup',
       'Food Industry', 'Food Delivery', 'Virtual auditing startup',
       'E-commerce', 'Gaming', 'Work fulfillment', 'AI startup',
       'Telecommunication', 'Logistics', 'Tech Startup', 'Sports',
       'Retail', 'Medtech', 'Tyre management', 'Cloud company',
       'Software company', 'Venture capitalist', 'Renewable player',
       'IoT startup', 'SaaS startup', 'Aero company', 'Marketing company',
       'Retail startup', 'Co-working Startup', 'Finance company',
       'Tech company', 'Solar Monitoring Company',
       'Video sharing platform', 'Gaming startup',
       'Video streaming platform', 'Consumer appliances',
       'Blockchain startup', 'Conversational AI platform', 'Real Estate',
       'SaaS platform', 'AI platform', 'Fusion beverages', 'HR Tech',
       'Job portal', 'Hospitality', 'Digital Media', 'Dairy startup',
       'Content management', 'Spacetech', 'Transportation',
       'Trading platform', 'AI Company', 'Photonics startup',
       'Entertainment', 'Cosmetics', 'Scanning app', 'Skincare startup',
       'Food and Beverages', 'Biotechnology company', 'FoodTech',
       'Proptech', 'CleanTech', 'Fitness startup', 'Healthcare',
       'PaaS startup', 'Beverages', 'Social Media', 'Automobiles',
       'Deeptech', 'EV startup', 'AR/VR startup', 'Recruitment startup',
       'QSR startup', 'Video platform', 'Edtech', 'Fertility tech',
       'Luxury car startup', 'FM', 'Food', 'Nutrition sector',
       'Tech platform', 'Video', 'Retail Tech', 'HeathTech',
       'Sles and marketing', 'LegalTech', 'Car Service',
       'Bike marketplace', 'Agri tech', 'Reatil startup', 'AR platform',
       'Consumer Goods', 'Content marketplace', 'Interior Design',
       'Rental space', 'Soil-Tech', 'Ayurveda tech',
       'Packaging solution startup', 'Cleantech', 'Sanitation solutions',
       'HealthCare', 'Home Design', 'InsureTech', 'AI Startup',
       'Solar solution', 'Jewellery startup',
       'Multinational conglomerate company', 'Deeptech startup',
       'Social Network', 'Publication', 'Tech', 'Fashion', 'Finance',
       'Venture capital', 'Entreprenurship', 'Food devlivery',
       'Warehouse', 'Online financial service', 'Eyeglasses',
       'Battery design', 'Online credit management startup', 'Beverage',
       'TravelTech', 'Agriculture', 'Startup laboratory',
       'Personal care startup', 'Customer service company',
       'SaaS\xa0\xa0startup', 'Marketing startup', 'Service industry',
       'Social media', 'AI', 'Jewellery', 'AR startup', 'HR Tech startup',
       'Automotive Startup', 'Food Startup', 'EdTech Startup',
       'Car Trade', 'EdtTech', 'Manufacturing', 'AI Platform',
       'Automation', 'Solar SaaS', 'WL & RAC protection',
       'Social commerce', 'Home interior services', 'Agritech startup',
       'API platform', 'Deep Tech', 'Electricity', 'Automotive company',
       'FMCG', 'Insurance Tech', 'Video personalization',
       'Software Company', 'Biomaterial startup', 'Health', 'IT',
       'Craft Beer', 'Healthtech', 'Education', 'Investment',
       'Linguistic Spiritual', 'Construction', 'Battery manufacturer',
       'Nano Distribution Network', 'AI health', 'Dating app', 'Media',
       'Fintech', 'Healthcare/Edtech', 'Social Commerce',
       'Agritech/Commerce', 'Mobility tech', 'Social e-commerce',
       'Food & Logistics', 'SpaceTech', 'Nutrition Tech', 'HR', 'IoT',
       None, 'Agritech', 'Interior design', 'Foodtech', 'AR/VR',
       'Appliance', 'HR tech', 'Food tech', 'Mental Health', 'Ecommerce',
       'Solar Solution', 'SaaS', 'Automobile', 'B2B marketplace',
       'Fashion Tech', 'Nutrition tech', 'Health & Wellness',
       'Cloud Kitchen', 'IoT/Automobile', 'Eye Wear', 'Digital tech',
       'Data Intelligence', 'Co-living', 'Food & Beverages', 'Automotive',
       'B2B', 'Defense tech', 'Marketplace', 'Construction tech',
       'Nutrition', 'Coworking', 'Micro-mobiity', 'Auto-tech', 'Beauty',
       'Robotics', 'Yoga & wellness', 'Logitech', 'Med Tech',
       'Life sciences', 'Retail Aggregator', 'Deep Tech AI', 'Biotech',
       'Blockchain', 'HrTech', 'Mobility/Transport', 'Travel', 'Rental',
       'AI & Debt', 'SaaS/Edtech', 'Transport', 'Co-working', 'Insurtech',
       'Cryptocurrency', 'Automotive tech', 'Legal', 'Fitness', 'EV',
       'Supply chain, Agritech', 'Pharma', 'Insurance technology',
       'Foodtech & Logistics', 'Housing', 'Pharmaceutical',
       'Data Analytics', 'Investment Tech', 'Financial Services',
       'Biopharma', 'Dairy', 'Beauty & wellness', 'Travel & SaaS',
       'Tourism & EV', 'Media Tech', 'Location Analytics', 'E store',
       'Data Science', 'Insurance', 'Health and Fitness', 'Technology',
       'Interior & decor', 'eMobility', 'Automation tech',
       'Media & Networking', 'E-market', 'AI & Data science',
       'Travel tech', 'Automotive and Rentals', 'E-tail', 'Accomodation',
       'AI & Media', 'Machine Learning', 'Content Marktplace',
       'Visual Media', 'Hygiene', 'VR & SaaS', 'Sales & Services',
       'AI & Deep learning', 'Housing & Rentals', 'Estore', 'Marketing',
       'E tailor', 'E-mobility', 'Ad-tech', 'Neo-banking',
       'Transport Automation', 'Techonology', 'Transport & Rentals',
       'AI Robotics', 'Preschool Daycare', 'Food diet', 'B2B Agritech',
       'E-connect', 'Tech hub', 'Consultancy', 'Pharmacy', 'Deisgning',
       'Taxation', 'Automobile Technology'], dtype=object)

In [23]:
mapping_sector_2020 = {
    'AgriTech':'Agriculture', 
    'EdTech':'Education', 
    'Hygiene management':'Healthcare & Life Science', 
    'Escrow':'Financial Services',
    'Networking platform':'IT & Technology',
    'FinTech':'Financial Services',
    'Crowdsourcing':'Business Services',
    'Food & Bevarages':'Consumer Goods', 
    'HealthTech':'Healthcare & Life Science', 
    'Fashion startup':'Consumer Goods',
    'Food Industry':'Consumer Goods',
    'Food Delivery':'Consumer Goods', 
    'Virtual auditing startup':'Financial Services',
    'E-commerce':'Retail',
    'Gaming':'Media & Entertainment', 
    'Work fulfillment':'Business Services',
    'AI startup':'IT & Technology',
    'Telecommunication':'IT & Technology',
    'Logistics':'Transportation & Logistics',
    'Tech Startup':'IT & Technology',
    'Sports':'Others',
    'Retail':'Retail', 'Medtech':'Healthcare & Life Science', 
    'Tyre management':'Transportation & Logistics', 
    'Cloud company':'IT & Technology',
    'Software company':'IT & Technology', 
    'Venture capitalist':'Financial Services',
    'Renewable player':'Energy',
    'IoT startup':'IT & Technology',
    'SaaS startup':'IT & Technology',
    'Aero company':'Manufacturing',
    'Marketing company':'Business Services',
    'Retail startup':'Retail', 
    'Co-working Startup':'Business Services', 
    'Finance company':'Financial Services',
    'Tech company':'IT & Technology', 
    'Solar Monitoring Company':'Energy',
    'Video sharing platform':'Media & Entertainment', 
    'Gaming startup':'Media & Entertainment',
    'Video streaming platform':'Media & Entertainment',
    'Consumer appliances':'Consumer Goods',
    'Blockchain startup':'IT & Technology',
    'Conversational AI platform':'IT & Technology',
    'Real Estate':'Real Estate',
    'SaaS platform':'IT & Technology',
    'AI platform':'IT & Technology',
    'Fusion beverages':'Consumer Goods',
    'HR Tech':'Business Services',
    'Job portal':'Business Services',
    'Hospitality':'Travel & Tourism', 
    'Digital Media':'Media & Entertainment',
    'Dairy startup':'Consumer Goods',
    'Content management':'Business Services',
    'Spacetech':'IT & Technology',
    'Transportation':'Transportation & Logistics',
    'Trading platform':'Financial Services',
    'AI Company':'IT & Technology', 
    'Photonics startup':'IT & Technology',
    'Entertainment':'Media & Entertainment', 
    'Cosmetics':'Consumer Goods',
    'Scanning app':'IT & Technology', 
    'Skincare startup':'Consumer Goods',
    'Food and Beverages':'Consumer Goods', 
    'Biotechnology company':'Healthcare & Life Science', 
    'FoodTech':'Consumer Goods',
    'Proptech':'Real Estate', 
    'CleanTech':'IT & Technology', 
    'Fitness startup':'Healthcare & Life Science',
    'Healthcare':'Healthcare & Life Science',
    'PaaS startup':'IT & Technology',
    'Beverages':'Consumer Goods', 
    'Social Media':'Media & Entertainment', 
    'Automobiles':'Transportation & Logistics',
    'Deeptech':'IT & Technology', 
    'EV startup':'Transportation & Logistics', 
    'AR/VR startup':'IT & Technology', 
    'Recruitment startup':'Business Services',
    'QSR startup':'Consumer Goods',
    'Video platform':'Media & Entertainment',
    'Edtech':'Education',
    'Fertility tech':'Healthcare & Life Science',
    'Luxury car startup':'Transportation & Logistics', 
    'FM':'Consumer Goods', 
    'Food':'Consumer Goods',
    'Nutrition sector':'Consumer Goods',
    'Tech platform':'IT & Technology', 
    'Video':'Media & Entertainment', 
    'Retail Tech':'Retail',
    'HeathTech':'Healthcare & Life Science',
    'Sles and marketing':'Sales & Marketing',
    'LegalTech':'Business Services', 
    'Car Service':'Transportation & Logistics',
    'Bike marketplace':'Transportation & Logistics',
    'Agri tech':'Agriculture', 
    'Reatil startup':'Retail',
    'AR platform':'IT & Technology',
    'Consumer Goods':'Consumer Goods',
    'Content marketplace':'Media & Entertainment', 
    'Interior Design':'Consumer Goods',
    'Rental space':'Real Estate',
    'Soil-Tech':'Agriculture', 
    'Ayurveda tech':'Healthcare & Life Science',
    'Packaging solution startup':'Manufacturing', 
    'Cleantech':'IT & Technology', 
    'Sanitation solutions':'Consumer Goods',
    'HealthCare':'Healthcare & Life Science',
    'Home Design':'Consumer Goods', 
    'InsureTech':'Financial Services', 
    'AI Startup':'IT & Technology',
    'Solar solution':'Energy',
    'Jewellery startup':'Consumer Goods',
    'Multinational conglomerate company':'Others', 
    'Deeptech startup':'IT & Technology',
    'Social Network':'Media & Entertainment',
    'Publication':'Media & Entertainment', 
    'Tech':'IT & Technology',
    'Fashion':'Consumer Goods', 
    'Finance':'Financial Services',
    'Venture capital':'Financial Services',
    'Entreprenurship':'Business Services',
    'Food devlivery':'Consumer Goods',
    'Warehouse':'Transportation & Logistics', 
    'Online financial service':'Financial Services', 
    'Eyeglasses':'Consumer Goods',
    'Battery design':'IT & Technology', 
    'Online credit management startup':'Financial Services',
    'Beverage':'Consumer Goods',
    'TravelTech':'Travel & Tourism', 
    'Agriculture':'Agriculture', 
    'Startup laboratory':'Business Services',
    'Personal care startup':'Consumer Goods', 
    'Customer service company':'Business Services',
    'SaaS\xa0\xa0startup':'IT & Technology', 
    'Marketing startup':'Business Services', 
    'Service industry':'Business Services',
    'Social media':'Media & Entertainment',
    'AI':'IT & Technology', 
    'Jewellery':'Consumer Goods', 
    'AR startup':'IT & Technology',
    'HR Tech startup':'Business Services',
    'Automotive Startup':'Transportation & Logistics', 
    'Food Startup':'Consumer Goods', 
    'EdTech Startup':'Education',
    'Car Trade':'Transportation & Logistics', 
    'EdtTech':'Education',
    'Manufacturing':'Manufacturing',
    'AI Platform':'IT & Technology',
    'Automation':'Transportation & Logistics',
    'Solar SaaS':'Energy',
    'WL & RAC protection':'Consumer Goods',
    'Social commerce':'Retail', 
    'Home interior services':'Consumer Goods', 
    'Agritech startup':'Agriculture',
    'API platform':'IT & Technology', 
    'Deep Tech':'IT & Technology',
    'Electricity':'Energy', 
    'Automotive company':'Transportation & Logistics',
    'FMCG':'Consumer Goods', 
    'Insurance Tech':'Financial Services', 
    'Video personalization':'Media & Entertainment',
    'Software Company':'IT & Technology', 
    'Biomaterial startup':'Healthcare & Life Science', 
    'Health':'Healthcare & Life Science',
    'IT':'IT & Technology',
    'Craft Beer':'Consumer Goods',
    'Healthtech':'Healthcare & Life Science', 
    'Education':'Education', 
    'Investment':'Financial Services',
    'Linguistic Spiritual':'Others', 
    'Construction':'Business Services', 
    'Battery manufacturer':'IT & Technology',
    'Nano Distribution Network':'IT & Technology',
    'AI health':'Healthcare & Life Science',
    'Dating app':'IT & Technology', 
    'Media':'Media & Entertainment',
    'Fintech':'Financial Services', 
    'Healthcare/Edtech':'Healthcare & Life Science', 
    'Social Commerce':'Retail',
    'Agritech/Commerce':'Agriculture',
    'Mobility tech':'Transportation & Logistics', 
    'Social e-commerce':'Retail',
    'Food & Logistics':'Consumer Goods',
    'SpaceTech':'IT & Technology', 
    'Nutrition Tech':'Consumer Goods', 
    'HR':'Business Services', 
    'IoT':'IT & Technology',
    None:None, 
    'Agritech':'Agriculture',
    'Interior design':'Consumer Goods', 
    'Foodtech':'Consumer Goods', 
    'AR/VR':'IT & Technology',
    'Appliance':'Consumer Goods', 
    'HR tech':'Business Services', 
    'Food tech':'Consumer Goods',
    'Mental Health':'Healthcare & Life Science',
    'Ecommerce':'Retail',
    'Solar Solution':'Energy', 
    'SaaS':'IT & Technology',
    'Automobile':'Transportation & Logistics', 
    'B2B marketplace':'Business Services',
    'Fashion Tech':'Consumer Goods',
    'Nutrition tech':'Consumer Goods',
    'Health & Wellness':'Healthcare & Life Science',
    'Cloud Kitchen':'IT & Technology',
    'IoT/Automobile':'Transportation & Logistics', 
    'Eye Wear':'IT & Technology', 
    'Digital tech':'IT & Technology',
    'Data Intelligence':'IT & Technology', 
    'Co-living':'Business Services', 
    'Food & Beverages':'Consumer Goods', 
    'Automotive':'Transportation & Logistics',
    'B2B':'Business Services',
    'Defense tech':'IT & Technology',
    'Marketplace':'Business Services', 
    'Construction tech':'IT & Technology',
    'Nutrition':'Consumer Goods', 
    'Coworking':'Business Services', 
    'Micro-mobiity':'Transportation & Logistics',
    'Auto-tech':'Transportation & Logistics',
    'Beauty':'Consumer Goods',
    'Robotics':'IT & Technology',
    'Yoga & wellness':'Healthcare & Life Science',
    'Logitech':'Transportation & Logistics', 
    'Med Tech':'Healthcare & Life Science',
    'Life sciences':'Healthcare & Life Science',
    'Retail Aggregator':'Retail', 
    'Deep Tech AI':'IT & Technology',
    'Biotech':'Healthcare & Life Science',
    'Blockchain':'IT & Technology', 
    'HrTech':'Business Services',
    'Mobility/Transport':'Transportation & Logistics',
    'Travel':'Travel & Tourism',
    'Rental':'Retail',
    'AI & Debt':'Financial Services', 
    'SaaS/Edtech':'IT & Technology', 
    'Transport':'Transportation & Logistics', 
    'Co-working':'Business Services',
    'Insurtech':'Financial Services',
    'Cryptocurrency':'IT & Technology', 
    'Automotive tech':'Transportation & Logistics', 
    'Legal':'Business Services', 
    'Fitness':'Healthcare & Life Science',
    'EV':'Transportation & Logistics',
    'Supply chain,Agritech':'Agriculture', 
    'Pharma':'Healthcare & Life Science',
    'Insurance technology':'Financial Services',
    'Foodtech & Logistics':'Consumer Goods', 
    'Housing':'Real Estate ',
    'Pharmaceutical':'Healthcare & Life Science',
    'Data Analytics':'IT & Technology',
    'Investment Tech':'Financial Services', 
    'Financial Services':'Financial Services',
    'Biopharma':'Healthcare & Life Science', 
    'Dairy':'Agriculture', 
    'Beauty & wellness':'Consumer Goods', 
    'Travel & SaaS':'Travel & Tourism',
    'Tourism & EV':'Travel & Tourism', 
    'Media Tech':'Media & Entertainment', 
    'Location Analytics':'IT & Technology', 
    'E store':'Retail',
    'Data Science':'IT & Technology', 
    'Insurance':'Financial Services', 
    'Health and Fitness':'Healthcare & Life Science', 
    'Technology':'IT & Technology',
    'Interior & decor':'Consumer Goods', 
    'eMobility':'Transportation & Logistics',
    'Automation tech':'Transportation & Logistics',
    'Media & Networking':'Media & Entertainment',
    'E-market':'Retail', 
    'AI & Data science':'IT & Technology',
    'Travel tech':'Travel & Tourism',
    'Automotive and Rentals':'Transportation & Logistics',
    'E-tail':'Retail', 
    'Accomodation':'Hospitality',
    'AI & Media':'Media & Entertainment', 
    'Machine Learning':'IT & Technology', 
    'Content Marktplace':'Media & Entertainment',
    'Visual Media':'Media & Entertainment',
    'Hygiene':'Healthcare & Life Science', 
    'VR & SaaS':'IT & Technology', 
    'Sales & Services':'Business Services',
    'AI & Deep learning':'IT & Technology',
    'Housing & Rentals':'Real Estate', 
    'Estore':'Retail', 
    'Marketing':'Business Services',
    'E tailor':'Retail',
    'E-mobility':'Retail', 
    'Ad-tech':'IT & Technology',
    'Neo-banking':'Financial Services',
    'Transport Automation':'Transportation & Logistics',
    'Techonology':'IT & Technology', 
    'Transport & Rentals':'Transportation & Logistics',
    'AI Robotics':'IT & Technology', 
    'Preschool Daycare':'Education', 
    'Food diet':'Consumer Goods', 
    'B2B Agritech':'Agriculture',
    'E-connect':'Retail', 'Tech hub':'IT & Technology', 
    'Consultancy':'Business Services',
    'Pharmacy':'Healthcare & Life Science', 
    'Deisgning':'Consumer Goods',
    'Taxation':'Financial Services',
    'Automobile Technology':'Transportation & Logistics'
    }

In [24]:
# mapping the sectors into the key sectors
df_2020['Sector']=df_2020['Sector'].replace(mapping_sector_2020)
# df_2020['Sector'].replace('Retail Services','Retail')

In [27]:
df_2020['Sector'].unique()

array(['Agriculture', 'Education', 'Healthcare & Life Science',
       'Financial Services', 'IT & Technology', 'Business Services',
       'Consumer Goods', 'Retail', 'Media & Entertainment',
       'Transportation & Logistics', 'Others', 'Energy', 'Manufacturing',
       'Real Estate', 'Travel & Tourism', None, 'Real Estate ',
       'Hospitality'], dtype=object)

In [25]:
remodifying_df_2020_sector={
    'Agriculture':'Agriculture', 'Education':'Education', 'Healthcare $ Life Science':'Healthcare $ Life Science',
       'Financial Services':'Financial Services', 'IT & Technology':'IT & Technology', 'Business Services':'Business Services',
       'Consumer Goods':'Consumer Goods', 'Retail Services':'Retail', 'Media & Entertainment':'Media & Entertainment',
       'Transportation $ Logistics':'Transportation & Logistics', 'Others':'Others', 'Retail':'Retail',
       'Transportation & Logistics':'Transportation & Logistics', 'Energy': 'Energy', 'Manufacturing': 'Manufacturing',
       'Real Estate':'Real Estate', 'Travel & Tourism':'Travel & Tourism', 'Sales & Marketing':'Business Services',
       'Supply chain, Agritech':'Agriculture', 'Real Estate':'Real Estate',None:None 
}

In [26]:
df_2020['Sector']=df_2020['Sector'].replace(remodifying_df_2020_sector)

In [ ]:
df_2020['Sector'].value_counts().sort_values(ascending = False)

Sector
IT & Technology               191
Financial Services            164
Education                     115
Consumer Goods                109
Healthcare & Life Science      97
Retail                         88
Media & Entertainment          75
Transportation & Logistics     70
Agriculture                    48
Business Services              47
Travel & Tourism               12
Real Estate                    11
Energy                          6
Others                          3
Manufacturing                   3
Hospitality                     2
Real Estate                     1
Name: count, dtype: int64

In [28]:
# checking for the null values in the dataset
df_2020[pd.isnull(df_2020['Sector'])]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
518,Text Mercato,2015,Bangalore,None,Cataloguing startup that serves ecommerce plat...,"Kiran Ramakrishna, Subhajit Mukherjee",1Crowd,649600.0,Series A,2020
569,Magicpin,2015,Gurugram,None,"It is a local discovery, rewards, and commerce...","Anshoo Sharma, Brij Bhushan",Samsung Venture Investment Corporation,7000000.0,Series D,2020
687,Leap Club,<NA>,Gurugram,None,Community led professional network for women,"Ragini Das, Anand Sinha","Whiteboard Capital, FirstCheque, Artha India V...",340000.0,Pre seed round,2020
699,Juicy Chemistry,2014,None,None,It focuses on organic based skincare products,Pritesh Asher,Akya Ventures,650000.0,Series A,2020
707,Magicpin,2015,Gurugram,None,"It is a local discovery, rewards, and commerce...","Anshoo Sharma, Brij Bhushan",Lightspeed Venture Partners,3879000.0,None,2020
732,Servify,<NA>,Mumbai,None,It is a technology company which serves as a p...,Sreevathsa Prabhakar,Barkawi,250000.0,None,2020
746,Wagonfly,2018,Bangalore,None,Contactless shopping and delivery experience b...,Raghavendra Prasad,Investment Trust of India,500000.0,None,2020
763,DrinkPrime,<NA>,Bangalore,None,Water purifier subscription service,"Manas Ranjan Hota, Vijender Reddy","Abhishek Goyal, Bharat Jaisinghani, FirstCheque",3000000.0,Seed Round,2020
809,Kitchens Centre,2019,Delhi,None,Offers solutions to cloud kitchens by providin...,Lakshay Jain,AngelList India,500000.0,Seed Round,2020
918,Innoviti,<NA>,Bangalore,None,Digital payments solutions company,Rajeev Agrawal,FMO,5000000.0,None,2020
926,Brick&Bolt,2018,Bangalore,None,Operates in the residential construction space,"Jayesh Rajpurohit, Arpit Rajpurohit",Surge,1500000.0,Pre series A,2020
1012,Toddle,<NA>,Bengaluru,None,Collaboration and productivity platform for te...,"Deepanshu Arora, Parita Parekh",Matrix Partners India,3000000.0,None,2020
1031,HaikuJAM,<NA>,None,None,Creative writing mobile platform,Neer Sharma,"Lightbox. Social Capital, Dunce Capital",3400000.0,None,2020

In [29]:
# input the sectos for the missing values
df_2020.loc[518,'Sector']  = 'Retail'
df_2020.loc[569,'Sector']  = 'Business Services'
df_2020.loc[687,'Sector']  = 'Business Services'
df_2020.loc[699,'Sector']  = 'Consumer Goods'
df_2020.loc[707,'Sector']  = 'Business Services'
df_2020.loc[732,'Sector']  = 'IT & Technology'
df_2020.loc[746,'Sector']  = 'Business Services'
df_2020.loc[763,'Sector']  = 'Business Services'
df_2020.loc[809,'Sector']  = 'Consumer Goods'
df_2020.loc[918,'Sector']  = 'IT & Technology'
df_2020.loc[926,'Sector']  = 'Real Estate'
df_2020.loc[1012,'Sector'] = 'IT & Technology'
df_2020.loc[1031,'Sector'] = 'IT & Technology'

In [30]:
df_2020['Sector'].isnull().sum()

0

In [ ]:
df_2020['Sector'].value_counts()

Sector
IT & Technology               195
Financial Services            164
Education                     115
Consumer Goods                111
Healthcare & Life Science      97
Retail                         89
Media & Entertainment          75
Transportation & Logistics     70
Business Services              52
Agriculture                    48
Real Estate                    12
Travel & Tourism               12
Energy                          6
Others                          3
Manufacturing                   3
Hospitality                     2
Real Estate                     1
Name: count, dtype: int64

we have reduced the number of sectors to 16

CLEANING THE  STAGE COLUMN

Indian Startup Funding Stages are;
1. Pre-Seed Funding
2. Seed Funding
3. Early Stage Funding 
4. Growth Stage Funding 
5. Ipo(Initial Public Offering)


https://www.startupindia.gov.in/

In [31]:
df_2020['Stage'].unique()

array([None, 'Pre-seed', 'Seed', 'Pre-series A', 'Pre-series', 'Series C',
       'Series A', 'Series B', 'Debt', 'Pre-series C', 'Pre-series B',
       'Series E', 'Bridge', 'Series D', 'Series B2', 'Series F',
       'Pre- series A', 'Edge', 'Series H', 'Pre-Series B', 'Seed A',
       'Series A-1', 'Seed Funding', 'Pre-Seed', 'Seed round',
       'Pre-seed Round', 'Seed Round & Series A', 'Pre Series A',
       'Pre seed Round', 'Angel Round', 'Pre series A1', 'Series E2',
       'Pre series A', 'Seed Round', 'Bridge Round', 'Pre seed round',
       'Pre series B', 'Pre series C', 'Seed Investment', 'Series D1',
       'Mid series', 'Series C, D', 'Seed funding'], dtype=object)

In [ ]:
df_2020['Stage'].value_counts()

Stage
Series A                 96
Seed                     80
Seed Round               69
Series B                 57
Pre series A             54
Pre-series A             53
Series C                 50
Series D                 22
Debt                     18
Pre Series A             12
Pre-seed                 11
Seed round                9
Series E                  6
Bridge                    6
Series F                  4
Pre-series B              4
Angel Round               4
Pre seed round            4
Pre-seed Round            2
Pre series B              2
Pre-Seed                  2
Seed Funding              2
Series B2                 2
Pre-series C              2
Seed funding              2
Pre-Series B              2
Seed Round & Series A     1
Series C, D               1
Mid series                1
Series D1                 1
Seed Investment           1
Pre series C              1
Pre-series                1
Bridge Round              1
Series H                  1
Seed A                    1
Pre- series A             1
Series E2                 1
Pre series A1             1
Edge                      1
Pre seed Round            1
Series A-1                1
Name: count, dtype: int64

In [32]:
# Define the dictionary for mapping startup funding stages
stage_mapping = {
    None:None, 
    'Pre-seed':'Pre-seed funding',
    'Seed':'Seed funding',
    'Pre-series A':'Early Stage Funding' ,
    'Pre-series':'Pre-seed funding', 
    'Series C':'Growth Stage Funding',
    'Series A':'Early Stage Funding', 
    'Series B':'Growth Stage Funding', 
    'Debt':'Debt', 
    'Pre-series C':'Growth Stage Funding', 
    'Pre-series B':'Growth Stage Funding',
    'Series E':'Late Stage Funding', 
    'Bridge':'Bridge Round', 
    'Series D':'Late Stage Funding', 
    'Series B2':'Growth Stage Funding', 
    'Series F':'Late Stage Funding',
    'Pre- series A':'Early Stage Funding', 
    'Edge':'Edge', 
    'Series H':'Late Stage Funding', 
    'Pre-Series B':'Growth Stage Funding', 
    'Seed A':'Seed funding',
    'Series A-1':'Early Stage Funding', 
    'Seed Funding':'Seed funding', 
    'Pre-Seed':'Pre-seed funding', 
    'Seed round':'Seed funding',
    'Pre-seed Round':'Pre-seed funding', 
    'Seed Round & Series A':'Early Stage Funding', 
    'Pre Series A':'Early Stage Funding',
    'Pre seed Round':'Pre-seed funding', 
    'Angel Round':'Seed funding', 
    'Pre series A1':'Early Stage Funding', 
    'Series E2':'Late Stage Funding',
    'Pre series A':'Early Stage Funding', 
    'Seed Round':'Seed funding', 
    'Bridge Round':'Bridge Round', 
    'Pre seed round':'Pre-seed funding',
    'Pre series B':'Growth Stage Funding', 
    'Pre series C':'Growth Stage Funding', 
    'Seed Investment':'Seed funding', 
    'Series D1':'Late Stage Funding',
    'Mid series':'Growth Stage Funding', 
    'Series C, D':'Late Stage Funding', 
    'Seed funding':'Seed funding'
   
}

In [33]:
# replace the stage column with the mapping dictionary
df_2020['Stage']=df_2020['Stage'].replace(stage_mapping)

In [ ]:
df_2020['Stage'].value_counts()

Stage
Early Stage Funding     219
Seed funding            168
Growth Stage Funding    121
Late Stage Funding       36
Pre-seed funding         21
Debt                     18
Bridge Round              7
Edge                      1
Name: count, dtype: int64

In [34]:
df_2020['Stage'].unique()

array([None, 'Pre-seed funding', 'Seed funding', 'Early Stage Funding',
       'Growth Stage Funding', 'Debt', 'Late Stage Funding',
       'Bridge Round', 'Edge'], dtype=object)

to avoid huge data loss fill the missing value with undisclosed

In [35]:
df_2020['Stage'].fillna('Undisclosed',inplace=True)

In [36]:
df_2020['Stage'].isnull().sum()

0

CLEANING THE HEADQUARTER COLUMN

In [ ]:
df_2020['HeadQuarter'].isnull().sum()

94

CLEANING THE FOUNDED COLUMN

In [ ]:
df_2020['Founded'].isnull().sum()

213

In [ ]:
# convert the column founded to a int datatype
# df_2020['Founded']=df_2020['Founded'].fillna(-1).astype(int).astype(str)
# convert to datetime
# df_2020['Founded']=pd.to_datetime(df['Founded'],format='%Y',errors='coerce')
# print(df_2020)
# print(df_2020['Founded'])
df_2020

In [ ]:
df_2020['Investor'].value_counts()

Investor
Venture Catalysts                             20
Angel investors                               12
Mumbai Angels Network                         12
Inflection Point Ventures                     11
Undisclosed                                   10
                                              ..
Mumbai Angels.                                 1
Ramesh Srinivasan, Amazon                      1
Ashok Leyland, V Lakshmi Narayanan             1
Ranjit Punja, R Sudarshan, Gowri Mukherjee     1
SIG Global India Fund LLP.                     1
Name: count, Length: 848, dtype: int64

In [37]:
df_2020['Investor'].isnull().sum()

38

In [38]:
df_2020.dropna(subset=['Investor'],inplace=True)

In [ ]:
df_2020['Investor'].isnull().sum()

0

In [ ]:
df_2020['What_it_does'].isnull().sum()

0

In [ ]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1017 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1017 non-null   object
 1   Founded        807 non-null    Int64
 2   HeadQuarter    923 non-null    object
 3   Sector         1017 non-null   object
 4   What_it_does   1017 non-null   object
 5   Founders       1005 non-null   object
 6   Investor       1017 non-null   object
 7   Amount($)      1017 non-null   float64
 8   Stage          1017 non-null   object
 9   Funding_Year   1017 non-null   int64
dtypes: Int64(1), float64(1), int64(1), object(7)
memory usage: 88.4+ KB

In [39]:
query="SELECT * FROM dbo.LP1_Startup_funding2021"
data_2021=pd.read_sql(query, connection)
data_2021.head(20)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
5,Urban Company,2014.0,New Delhi,Home services,Urban Company (Formerly UrbanClap) is a home a...,"Abhiraj Singh Bhal, Raghav Chandra, Varun Khaitan",Vy Capital,"$188,000,000",None
6,Comofi Medtech,2018.0,Bangalore,HealthTech,Comofi Medtech is a healthcare robotics startup.,Gururaj KB,"CIIE.CO, KIIT-TBI","$200,000",None
7,Qube Health,2016.0,Mumbai,HealthTech,India's Most Respected Workplace Healthcare Ma...,Gagan Kapur,Inflection Point Ventures,Undisclosed,Pre-series A
8,Vitra.ai,2020.0,Bangalore,Tech Startup,Vitra.ai is an AI-based video translation plat...,Akash Nidhi PS,Inflexor Ventures,Undisclosed,None
9,Taikee,2010.0,Mumbai,E-commerce,"Taikee is the ISO-certified, B2B e-commerce pl...","Nidhi Ramachandran, Sachin Chhabra",None,"$1,000,000",None
10,Fitterfly,2016.0,Mumbai,HealthTech,Fitterfly offers customized and personalized w...,Dr Arbinder Singal,"9Unicorns Accelerator Fund, Metaform Ventures","$3,000,000",Pre-series A
11,FreeStand,2017.0,New Delhi,B2B service,FreeStand enables FMCG brands to execute track...,"Konark Sharma, Sneh Soni","SucSEED Indovation, IIM Calcutta Innovation Park","$100,000",None
12,MyDentalPlan,2014.0,Bangalore,Helathcare,My Dental Plan provides dental care packages a...,"Dr Mohender Narula, Dr AnandKrishna, Dr Girish...",Safe Planet Medicare,"$700,000",Seed
13,Freyr Energy,2014.0,Hyderabad,Renewable Energy,Freyr Energy is a company that provides full s...,"Radhika Choudary, Saurabh Marda","Impact Partners, C4D Partners","$2,000,000",None
14,DealShare,2018.0,Jaipur,E-commerce,DealShare is a Social Commerce Startup,"Sankar Bora, Sourjyendu Medda, Vineet Rao","Tiger Global Management, InnoVen Capital","$9,000,000",None
15,Tessolve,1993.0,Bangalore,Electronics,Tessolve Semiconductor offers engineering in s...,"P Raja Manickam, Srinivas Chinamilli, Veerappan V",Novo Tellus Capital,"$40,000,000",None
16,Smart Joules,2014.0,New Delhi,Renewable Energy,Smart Joules is an energy management company.,"Arjun P Gupta, Ujjal Majumdar, Sidhartha Gupta","Raintree Family Office, ADB arm","$49,000,000",None
17,ORAI,2020.0,Bangalore,IT startup,AI-Powered Robotic Virtual Assistant (RVA) for...,"Swapnil Jain, Sujit Das Biswas",Inflection Point Ventures,"$400,000",Pre-series A
18,ixamBee,2016.0,New Delhi,EdTech,ixamBee is to provide best online learning exp...,Chandraprakash Joshi,"Mumbai Angels, Narendra Shyamsukha","$300,000",Seed
19,CoinSwitch Kuber,2017.0,Bangalore,FinTech,CoinSwitch Kuber is an India-based cryptocurre...,"Ashish Singhal, Govind Soni, Vimal Sagar Tiwari","Paradigm, Kunal Shah","$25,000,000",Series B

In [ ]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [40]:
df_2021=pd.DataFrame(data_2021)
df_2021

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed
...,...,...,...,...,...,...,...,...,...
1204,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
1205,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
1206,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
1207,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
1208,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [ ]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1205 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1205 non-null   object
 1   Founded        1204 non-null   Int64
 2   HeadQuarter    1204 non-null   object
 3   Sector         1205 non-null   object
 4   What_it_does   1205 non-null   object
 5   Founders       1201 non-null   object
 6   Investor       1143 non-null   object
 7   Amount($)      1205 non-null   float64
 8   Stage          779 non-null    object
 9   Funding_Year   1205 non-null   int64
dtypes: Int64(1), float64(1), int64(1), object(7)
memory usage: 104.7+ KB

In [41]:
df_2021 = df_2021.rename(columns={'Amount': 'Amount($)'})

In [42]:
# Converting the funded column to numeric data
df_2021['Founded'] = pd.to_numeric(df_2021['Founded'], errors='coerce').convert_dtypes(int)

In [43]:
# add the year column to 2021 dataframe as well
df_2021['Funding_Year']=2021

In [ ]:
 
df_2021['Amount($)'].unique()

array(['$1,200,000', '$120,000,000', '$30,000,000', '$51,000,000',
       '$2,000,000', '$188,000,000', '$200,000', 'Undisclosed',
       '$1,000,000', '$3,000,000', '$100,000', '$700,000', '$9,000,000',
       '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000'], dtype=object)

In [44]:
index13 = df_2021.index[df_2021['Amount($)']=='nan']

df_2021['Amount($)'] = df_2021['Amount($)'].replace('nan', np.nan)

In [50]:
index6 = df_2021.index[df_2021['Amount($)']=='Upsparks']

print(len(index6)), index6

0

(None, Index([], dtype='int64'))

In [49]:
df_2021 = df_2021.drop(labels=index6[0], axis=0)

In [56]:
# Find element in amount with series C
index7 = df_2021.index[df_2021['Amount($)']=='Series C']

print(len(index7)), index7

0

(None, Index([], dtype='int64'))

In [55]:
df_2021  = df_2021 .drop(labels=index7[0], axis=0)

In [57]:
# Create a function to clean the Amount column of the 2018 DataFrame and convert Indian Rupees to US Dollars

def clean_amount_df_2021(Amount):
    try:
        Amount = str(Amount)
        # Remove commas
        Amount = Amount.replace(",", "")
        Amount = Amount.replace('—', "")
        # Check if the value is in Indian Rupees and convert US Dollars: Using USD = 68.4113 which was the average annual Indian Rupee to US Dollars in 2018
        if "₹" in Amount:
            Amount = Amount.replace("₹", "")
            return round(float(Amount) * 0.0146, 2)
        # Check if the value is in US Dollars
        elif "$" in Amount:
            Amount = Amount.replace("$", "")
            return round (float(Amount), 2)
        # check if no currency symbol is present, assume US Dollars
        else:
            return round(float(Amount), 2)
    except ValueError:
        # If the value is not a number, return NaN
        return np.nan
        
# Clean the Amount column of the 2018 DataFrame
df_2021["Amount($)"] = df_2021["Amount($)"].apply(clean_amount_df_2021)

In [58]:
# fill the missing values with the median
df_2021["Amount($)"].fillna(df_2021["Amount($)"].median(),inplace=True)

In [59]:
df_2021.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1205 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1205 non-null   object
 1   Founded        1204 non-null   Int64
 2   HeadQuarter    1204 non-null   object
 3   Sector         1205 non-null   object
 4   What_it_does   1205 non-null   object
 5   Founders       1201 non-null   object
 6   Investor       1143 non-null   object
 7   Amount($)      1205 non-null   float64
 8   Stage          779 non-null    object
 9   Funding_Year   1205 non-null   int64
dtypes: Int64(1), float64(1), int64(1), object(7)
memory usage: 104.7+ KB

In [ ]:
df_2021.isnull().sum()

Company_Brand      0
Founded            1
HeadQuarter        1
Sector             0
What_it_does       0
Founders           4
Investor          62
Amount($)          0
Stage            427
Funding_Year       0
dtype: int64

In [ ]:
data_2021.shape

(1209, 9)

In [60]:
df_2021['Sector'].unique()

array(['AI startup', 'EdTech', 'B2B E-commerce', 'FinTech',
       'Home services', 'HealthTech', 'Tech Startup', 'E-commerce',
       'B2B service', 'Helathcare', 'Renewable Energy', 'Electronics',
       'IT startup', 'Food & Beverages', 'Aeorspace', 'Deep Tech',
       'Dating', 'Gaming', 'Robotics', 'Retail', 'Food', 'Oil and Energy',
       'AgriTech', 'Telecommuncation', 'Milk startup', 'AI Chatbot', 'IT',
       'Logistics', 'Hospitality', 'Fashion', 'Marketing',
       'Transportation', 'LegalTech', 'Food delivery', 'Automotive',
       'SaaS startup', 'Fantasy sports', 'Video communication',
       'Social Media', 'Skill development', 'Rental', 'Recruitment',
       'HealthCare', 'Sports', 'Computer Games', 'Consumer Goods',
       'Information Technology', 'Apparel & Fashion',
       'Logistics & Supply Chain', 'Healthtech', 'Healthcare',
       'SportsTech', 'HRTech', 'Wine & Spirits',
       'Mechanical & Industrial Engineering', 'Spiritual',
       'Financial Services', 'Industrial Automation', 'Health',
       'Lifestyle', 'IoT', 'Banking', 'Computer software', 'Tech startup',
       'Digital mortgage', 'Information Technology & Services',
       'Furniture', 'B2B marketplace', 'Healtcare', 'Location Analytics',
       'Media', 'Consumer Electronics', 'Tobacco', 'Deeptech',
       'Insuretech', 'MLOps platform', 'Venture Capital', 'Pet care',
       'Drone', 'Wholesale', 'Construction', 'E-learning',
       'Consumer Services', 'Venture Capital & Private Equity',
       'Health, Wellness & Fitness', 'OTT', 'Education Management',
       'Computer Software', 'Insurance', 'Software Startup',
       'Computer & Network Security', 'Capital Markets', 'Social network',
       'Hospital & Health Care', 'Music', 'Hauz Khas',
       "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
       'Cosmetics', 'Mobility', 'Social media', 'Real Estate',
       'Digital platform', 'B2B Ecommerce', 'Online Media',
       'Social commerce', 'Mobile Games', 'Food Production', 'Podcast',
       'HeathTech', 'Battery', 'Content publishing', 'Water purification',
       'Content commerce', 'Innovation Management', 'Software company',
       'Automation', 'Food Industry', 'Celebrity Engagement',
       'Trading platform', 'Personal Care', 'Cannabis startup',
       'Blogging', 'Consulting', 'BioTechnology', 'B2B Marketplace',
       'Health care', 'Social audio', 'Fashion and lifestyle',
       'Delivery service', 'B2B Manufacturing', 'Home Decor', 'Solar',
       'TaaS startup', 'EV startup', 'HR Tech', 'Blockchain startup',
       'Food and Beverages', 'Beverages', 'Manufacturing startup',
       'Cryptocurrency', 'Vehicle repair startup', 'Advisory firm',
       'Legaltech', 'Pollution control equiptment', 'Fashion & Lifestyle',
       'Blockchain', 'Fitness', 'D2C', 'Automobile',
       'Environmental Services', 'Merchandise', 'Facilities Services',
       'Marketing & Advertising', 'Human Resources', 'Eyewear',
       'D2C Business', 'Biotechnology', 'Farming', 'NFT Marketplace',
       'Internet', 'SpaceTech', 'Consumer software', 'Social community',
       'Fishery', 'Renewables & Environment', 'Online storytelling',
       'Aviation', 'IT company', 'Environmental service',
       'Job discovery platform', 'D2C Fashion', 'Heathcare', 'CRM',
       'Software', 'Nutrition', 'D2C startup', 'Innovation management',
       'Community platform', 'Venture capitalist', 'Networking',
       'Commercial Real Estate', 'AR startup', 'Consumer service',
       'Consumer goods', 'MarTech', 'Advertisement', 'Content creation',
       'Augmented reality', 'Rental space', 'Bike Rental',
       'Beauty products', 'Tourism', 'FemTech', 'Cultural', 'Co-working',
       'InsureTech', 'Supply chain platform', 'Social platform',
       'CleanTech', 'Real estate', 'AI company', 'Sports startup',
       'Matrimony', 'Crypto', 'Clothing', 'Analytics', 'Finance',
       'IoT platform', 'Commerce', 'Defense & Space', 'Entertainment',
       'Business Supplies & Equipment', 'NFT', 'Oil & Energy', 'EV',
       'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Telecommunications',
       'Equity Management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher Education', 'B2B',
       'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'SaaS', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Legal Services', 'Veterinary',
       'Arts & Crafts', 'Investment Management', 'Education',
       'Management Consulting', 'B2B startup',
       'Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience',
       'Design', 'B2B Travel', 'Interior Design',
       'Manchester, Greater Manchester', 'Product studio',
       'Aviation & Aerospace', 'Staffing & Recruiting'], dtype=object)

In [ ]:
df_2021['Sector'] = df_2021['Sector'].astype(str)

# Apply the function to create the new column
df_2021['Sector'] = df_2021['Sector'].apply(sector_redistribution)

In [ ]:
df_2021['Sector'].value_counts()

Sector
Others                        273
IT & Technology               153
Finance Services              140
Healthcare & Life sciences    125
NaN                           125
Education                     108
Consumer Goods                 61
Manufacturing                  51
Transportation & Logistics     43
Business Services              38
Media and Entertainment        33
Retail                         18
Energy                         13
Real Estate                    12
Sports                          9
Agriculture                     6
Travel & Tourism                1
Name: count, dtype: int64

CLEANING 2019 DATASET

In [61]:
# convert 2019 dataset to Dataframe
df_2019=pd.DataFrame(data_2019)
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [ ]:
df_2019.describe().T

         count         mean       std     min     25%     50%      75%     max
Founded   60.0  2014.533333  2.937003  2004.0  2013.0  2015.0  2016.25  2019.0

In [ ]:
df_2019.duplicated().sum()

0

In [62]:
# add a new column called year to distinguish the year of the funding for each dataset
df_2019['Funding_Year']=2019

In [63]:
# change the name of the column what it does
df_2019 = df_2019.rename(columns={'What it does':'What_it_does'})

In [64]:
df_2019 = df_2019.rename(columns={'Company/Brand':'Company_Brand'})

In [65]:
# Converting the funded column to numeric data
df_2019['Founded'] = pd.to_numeric(df_2019['Founded'], errors='coerce').convert_dtypes(int)

In [ ]:
df_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  89 non-null     object
 1   Founded        60 non-null     Int64
 2   HeadQuarter    70 non-null     object
 3   Sector         89 non-null     object
 4   What_it_does   89 non-null     object
 5   Founders       89 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     float64
 8   Stage          89 non-null     object
 9   Funding_Year   89 non-null     int64
dtypes: Int64(1), float64(1), int64(1), object(7)
memory usage: 7.2+ KB

cleaning the Amount column

In [ ]:
# check for irregularities in the amount column
df_2019['Amount($)'].unique()

array(['$6,300,000', '$150,000,000', '$28,000,000', '$30,000,000',
       '$6,000,000', 'Undisclosed', '$1,000,000', '$20,000,000',
       '$275,000,000', '$22,000,000', '$5,000,000', '$140,500',
       '$540,000,000', '$15,000,000', '$182,700', '$12,000,000',
       '$11,000,000', '$15,500,000', '$1,500,000', '$5,500,000',
       '$2,500,000', '$140,000', '$230,000,000', '$49,400,000',
       '$32,000,000', '$26,000,000', '$150,000', '$400,000', '$2,000,000',
       '$100,000,000', '$8,000,000', '$100,000', '$50,000,000',
       '$120,000,000', '$4,000,000', '$6,800,000', '$36,000,000',
       '$5,700,000', '$25,000,000', '$600,000', '$70,000,000',
       '$60,000,000', '$220,000', '$2,800,000', '$2,100,000',
       '$7,000,000', '$311,000,000', '$4,800,000', '$693,000,000',
       '$33,000,000'], dtype=object)

In [66]:
# replace the string 'Undisclosed' as a missing value
df_2019['Amount($)'] = df_2019['Amount($)'].replace('Undisclosed',np.nan)

In [67]:
# strip the dollar sign from the figures and remove the commas in between them
# convert the amount column to float
df_2019['Amount($)']=df_2019['Amount($)'].str.strip('$').str.replace(',','').astype(float)

In [68]:
# check the no of null values 
df_2019['Amount($)'].isnull().sum()

12

In [69]:
# replace the null value with the median value of the amount column 
# in order not to loose 13% of the data
df_2019['Amount($)'].fillna(df_2019['Amount($)'].median(),inplace = True)

In [ ]:
df_2019['Amount($)'].unique()

array([6.300e+06, 1.500e+08, 2.800e+07, 3.000e+07, 6.000e+06, 1.000e+06,
       2.000e+07, 2.750e+08, 2.200e+07, 5.000e+06, 1.405e+05, 5.400e+08,
       1.500e+07, 1.827e+05, 1.200e+07, 1.100e+07, 1.550e+07, 1.500e+06,
       5.500e+06, 2.500e+06, 1.400e+05, 2.300e+08, 4.940e+07, 3.200e+07,
       2.600e+07, 1.500e+05, 4.000e+05, 2.000e+06, 1.000e+08, 8.000e+06,
       1.000e+05, 5.000e+07, 1.200e+08, 4.000e+06, 6.800e+06, 3.600e+07,
       5.700e+06, 2.500e+07, 6.000e+05, 7.000e+07, 6.000e+07, 2.200e+05,
       2.800e+06, 2.100e+06, 7.000e+06, 3.110e+08, 4.800e+06, 6.930e+08,
       3.300e+07])

cleaning the sector column

In [ ]:
df_2019['Sector'].unique()

array(['Ecommerce', 'Edtech', 'Interior design', 'AgriTech', 'Technology',
       'SaaS', 'AI & Tech', 'E-commerce', 'E-commerce & AR', 'Fintech',
       'HR tech', 'Food tech', 'Health', 'Healthcare', 'Safety tech',
       'Pharmaceutical', 'Insurance technology', 'AI', 'Foodtech', 'Food',
       'IoT', 'E-marketplace', 'Robotics & AI', 'Logistics', 'Travel',
       'Manufacturing', 'Food & Nutrition', 'Social Media', nan,
       'E-Sports', 'Cosmetics', 'B2B', 'Jewellery', 'B2B Supply Chain',
       'Games', 'Food & tech', 'Accomodation', 'Automotive tech',
       'Legal tech', 'Mutual Funds', 'Cybersecurity', 'Automobile',
       'Sports', 'Healthtech', 'Yoga & wellness', 'Virtual Banking',
       'Transportation', 'Transport & Rentals',
       'Marketing & Customer loyalty', 'Infratech', 'Hospitality',
       'Automobile & Technology', 'Banking'], dtype=object)

In [70]:
df_2019['Sector'].isnull().sum()

5

In [71]:
modified_sector_2019 = {
       'Ecommerce':'Retail', 'Edtech':'Education', 'Interior design':'Consumer Goods', 
       'AgriTech':'Agriculture', 'Technology':'IT & Technology',
       'SaaS':'IT & Technology', 'AI & Tech':'IT & Technology', 'E-commerce':'Retail', 
       'E-commerce & AR':'Retail', 'Fintech':'Financial Services',
       'HR tech':'Business Services', 'Food tech':'Consumer Goods', 
       'Health':'Healthcare & Life Sciences', 'Healthcare':'Healthcare & Life Sciences',
       'Safety tech':'IT & Technology',
       'Pharmaceutical':'Healthcare & Life Sciences', 
       'Insurance technology':'Financial Services', 
       'AI':'IT & Technology', 'Foodtech':'Consumer Goods', 'Food':'Consumer Goods',
       'IoT':'IT & Technology', 'E-marketplace':'Retail', 
       'Robotics & AI':'IT & Technology', 
       'Logistics':'Transportation & Logistics', 
       'Travel':'Travel & Tourism',
       'Manufacturing':'Manufacturing', 'Food & Nutrition':'Consumer Goods', 
       'Social Media':'Media & Entertsinment', 'nan':None,
       'E-Sports':'Media & Entertsinment', 'Cosmetics':'Consumer Goods', 
       'B2B':'Business Services', 'Jewellery':'Consumer Goods', 
       'B2B Supply Chain':'Business Services',
       'Games':'Media & Entertsinment', 
       'Food & tech':'Consumer Goods', 
       'Accomodation':'Travel & Tourism', 
       'Automotive tech':'Transportation & Logistics',
       'Legal tech':'Business Services', 
       'Mutual Funds':'Financial Services', 
       'Cybersecurity':'IT & Technology', 
       'Automobile':'Transportation & Logistics',
       'Sports':'Sports', 
       'Healthtech':'Healthcare & Life Sciences', 
       'Yoga & wellness':'Healthcare & Life Sciences', 
       'Virtual Banking':'Financial Services',
       'Transportation':'Transportation & Logistics', 
       'Transport & Rentals':'Transportation & Logistics',
       'Marketing & Customer loyalty':'Business Services', 
       'Infratech':'Real Estate', 
       'Hospitality':'Hospitality',
       'Automobile & Technology':'IT & Technology', 
       'Banking':'Financial Services'
}

In [72]:
# replace the values in the sector column with the mapped dictionary
df_2019['Sector'] = df_2019['Sector'].replace(modified_sector_2019)

In [73]:
df_2019[pd.isnull(df_2019['Sector'])]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
41,VMate,<NA>,NaN,NaN,A short video platform,NaN,Alibaba,100000000.0,NaN,2019
49,Awign Enterprises,2016,Bangalore,NaN,It supplies workforce to the economy,"Annanya Sarthak, Gurpreet Singh, Praveen Sah","Work10M, Michael and Susan Dell Foundation, Ea...",4000000.0,Series A,2019
52,TapChief,2016,Bangalore,NaN,It connects individuals in need of advice in a...,"Shashank Murali, Binay Krishna, Arjun Krishna",Blume Ventures.,1500000.0,Pre series A,2019
56,KredX,<NA>,Bangalore,NaN,Invoice discounting platform,Manish Kumar,Tiger Global Management,26000000.0,Series B,2019
57,m.Paani,<NA>,Mumbai,NaN,It digitizes and organises local retailers,Akanksha Hazari,"AC Ventures, Henkel",5500000.0,Series A,2019

In [74]:
df_2019.loc[41,'Sector'] = 'Media & Entertainment'
df_2019.loc[49,'Sector'] = 'Business Services'
df_2019.loc[52,'Sector'] = 'Education'
df_2019.loc[56,'Sector'] = 'Financial Services'
df_2019.loc[57,'Sector'] = 'Retail'

In [75]:
df_2019['Sector'].isnull().sum()

0

Cleaning the Stage Column

In [ ]:
# drop the stage column 
df_2019['Stage'].isnull().sum()

46

in order not to loose so many data from the 2019 dataset, fill the missing value in the 
stage column with 'undisclosed'

In [76]:
# fill the stage column with undisclosed
df_2019['Stage'].fillna('Undisclosed',inplace = True)

In [77]:
# fill the founders column with undisclosed
df_2019['Founders'].fillna('Undisclosed',inplace = True)

In [ ]:
df_2019.isnull().sum()

Company_Brand     0
Founded          29
HeadQuarter      19
Sector            0
What it does      0
Founders          0
Investor          0
Amount($)         0
Stage             0
Funding_Year      0
dtype: int64

cleaning the 2018 dataset

In [ ]:
data_2018.info()

In [78]:
# rename the columns
data_2018.columns=['Company_Brand','Sector','Stage','Amount($)','HeadQuarter','What_it_does']
data_2018

,Company_Brand,Sector,Stage,Amount($),HeadQuarter,What_it_does
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [79]:
# convert the 2018 data into a dataframe
df_2018=pd.DataFrame(data_2018)
df_2018.head()

,Company_Brand,Sector,Stage,Amount($),HeadQuarter,What_it_does
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [80]:
# add the year column to the 2018 dataframe 
df_2018['Funding_Year']=2018

In [ ]:
# change the name of the column what it does
# df_2018 = df_2018.rename(columns={'What it does':'What_it_does'})

In [81]:
# add the founded column 
df_2018['Founded']=2018

In [82]:
# add investors column
df_2018['Investor']='Undisclosed'

In [83]:
# change the name of the column what it does
df_2018 = df_2018.rename(columns={'investor':'Investor'})

In [84]:
# add the founders column to the data frame
df_2018['Founders']='Undisclosed'

In [ ]:
# check for duplicates
df_2018.duplicated().sum()

1

In [85]:
df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  526 non-null    object
 1   Sector         526 non-null    object
 2   Stage          526 non-null    object
 3   Amount($)      526 non-null    object
 4   HeadQuarter    526 non-null    object
 5   What_it_does   526 non-null    object
 6   Funding_Year   526 non-null    int64
 7   Founded        526 non-null    int64
 8   Investor       526 non-null    object
 9   Founders       526 non-null    object
dtypes: int64(2), object(8)
memory usage: 41.2+ KB

In [86]:
df_2018.drop_duplicates()

,Company_Brand,Sector,Stage,Amount($),HeadQuarter,What_it_does,Funding_Year,Founded,Investor,Founders
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,2018,Undisclosed,Undisclosed
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,2018,Undisclosed,Undisclosed
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,2018,Undisclosed,Undisclosed
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,2018,Undisclosed,Undisclosed
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,2018,Undisclosed,Undisclosed
...,...,...,...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",2018,2018,Undisclosed,Undisclosed
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,2018,2018,Undisclosed,Undisclosed
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,2018,2018,Undisclosed,Undisclosed
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,2018,2018,Undisclosed,Undisclosed
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,2018,2018,Undisclosed,Undisclosed

Cleaning the Amount column for the 2018 dataset

In [87]:
df_2018['Amount($)'].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

the amount column contain some values that are not u.s dollars, 
we must convert this values to it equivalent in usd

In [88]:
import pandas as pd

# Assume df_2018 is already defined with 'Amount($)' column
exchange_rate = 83.32

def clean_Amount():
    # Copy the 'Amount($)' column
    amount_column = df_2018['Amount($)'].copy()
    
    # Remove commas from the values
    amount_column = amount_column.str.replace(',', '', regex=True)
    
    # Extract the values in rupees
    amount_in_rupees = amount_column[amount_column.str.startswith('₹')]
    # Remove the rupee symbol and convert to float
    amount_in_rupees = amount_in_rupees.str.lstrip('₹').astype(float)
    # Convert rupees to dollars
    amount_in_rupees = amount_in_rupees / exchange_rate
    
    # Extract the values in dollars
    amount_in_dollars = amount_column[amount_column.str.startswith('$')]
    # Remove the dollar symbol and convert to float
    amount_in_dollars = amount_in_dollars.str.lstrip('$').astype(float)
    
    # Replace the unclean column with the clean ones
    amount_column.loc[amount_in_rupees.index] = amount_in_rupees
    amount_column.loc[amount_in_dollars.index] = amount_in_dollars
    
    # Convert the column to numeric
    amount_column = pd.to_numeric(amount_column, errors='coerce')
    
    # Update the original dataframe
    df_2018['Amount($)'] = amount_column

In [89]:
# call the function
clean_Amount()

In [91]:
df_2018['Amount($)'].isnull().sum()

148

In [92]:
# fill the missing values in the amount column of 2018 dataset with the median of the values
df_2018['Amount($)'].fillna(df_2018['Amount($)'].median(),inplace=True)

In [93]:
df_2018['Amount($)'].isnull().sum()

0

cleaning the stage column

In [ ]:
df_2018['Stage'].isnull().sum()

0

In [94]:
df_2018['Stage'].unique()

array(['Seed', 'Series A', 'Angel', 'Series B', 'Pre-Seed',
       'Private Equity', 'Venture - Series Unknown', 'Grant',
       'Debt Financing', 'Post-IPO Debt', 'Series H', 'Series C',
       'Series E', 'Corporate Round', 'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
       'Series D', 'Secondary Market', 'Post-IPO Equity',
       'Non-equity Assistance', 'Funding Round'], dtype=object)

In [95]:
modified_stage_2018={'Seed':'Seed Funding', 'Series A':'Early Stage Funding', 'Angel':'Early Stage Funding', 'Series B':'Growth Stage Funding ', 'Pre-Seed':'Pre-seed Funding',
       'Private Equity':'Late Stage Funding', 'Venture - Series Unknown':'Undisclosed', 'Grant':'Grant',
       'Debt Financing':'Late Stage Funding', 'Post-IPO Debt':'Late Stage Funding', 'Series H':'Late Stage Funding', 'Series C':'Growth Stage Funding',
       'Series E':'Late Stage Funding', 'Corporate Round': 'Corporate Round', 'Undisclosed':'Undisclosed',
       'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593':'Undisclosed',
       'Series D':'Late Stage Funding', 'Secondary Market':'Secondary Market', 'Post-IPO Equity':'Post-IPO Equity',
       'Non-equity Assistance':'Early Stage Funding', 'Funding Round':'Undisclosed'

}

In [96]:
df_2018['Stage'] =df_2018['Stage'].replace(modified_stage_2018)

In [97]:
df_2018['Stage'].unique()

array(['Seed Funding', 'Early Stage Funding', 'Growth Stage Funding ',
       'Pre-seed Funding', 'Late Stage Funding', 'Undisclosed', 'Grant',
       'Growth Stage Funding', 'Corporate Round', 'Secondary Market',
       'Post-IPO Equity'], dtype=object)

cleaning the sector column

In [98]:
df_2018['Sector']

0      Brand Marketing, Event Promotion, Marketing, S...
1                                   Agriculture, Farming
2       Credit, Financial Services, Lending, Marketplace
3                            Financial Services, FinTech
4                     E-Commerce Platforms, Retail, SaaS
                             ...
521     B2B, Business Development, Internet, Marketplace
522                                      Tourism, Travel
523           Food and Beverage, Food Delivery, Internet
524                               Information Technology
525           Biotechnology, Health Care, Pharmaceutical
Name: Sector, Length: 526, dtype: object

In [99]:
# checking for unique values in the sector column
df_2018['Sector'].sort_values().unique()

array(['3D Printing, Manufacturing, Product Design',
       'Accounting, Apps, FinTech', 'Accounting, Banking, Finance',
       'Accounting, Business Information Systems, Business Travel, Finance, SaaS',
       'Advertising, Artificial Intelligence, Digital Media, iOS, Location Based Services, News, Video, Video on Demand, Video Streaming',
       'Advertising, Consulting, Digital Marketing',
       'Advertising, Human Resources, Marketing',
       'Advertising, Internet, Marketing', 'Aerospace',
       'AgTech, B2B, Supply Chain Management', 'Agriculture',
       'Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning',
       'Agriculture, AgTech, Manufacturing',
       'Agriculture, Analytics, Big Data, Farming',
       'Agriculture, Farmers Market, Farming', 'Agriculture, Farming',
       'Agriculture, Mobile',
       'Air Transportation, Freight Service, Logistics, Marine Transportation',
       'Alternative Medicine, Health Care',
       'Analytics, Apps, Market Research',
       'Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment',
       'Analytics, CRM, Loyalty Programs, Machine Learning, Marketing Automation, Retail Technology, SaaS, Small and Medium Businesses',
       'Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition',
       'Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development',
       'Apps', 'Apps, Audio',
       'Apps, B2B, Freight Service, Logistics, SaaS, Shipping, Supply Chain Management, Transportation',
       'Apps, Beauty, Consumer, Retail',
       'Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat',
       'Apps, E-Commerce, Internet',
       'Apps, E-Commerce, Internet, Mobile, Ride Sharing, Transportation',
       'Apps, Education, Retail', 'Apps, Events, News',
       'Apps, Financial Services, FinTech',
       'Apps, Fitness, Health Care, mHealth',
       'Apps, Health Care, Hospital, Mobile Apps',
       'Apps, Health Care, Internet, Mobile Apps, Personal Health',
       'Apps, Health Care, Pharmaceutical',
       'Apps, Home Services, Information Services, Information Technology',
       'Apps, Information Services, Information Technology',
       'Apps, Messaging, Navigation, Public Safety',
       'Apps, Mobile, Mobile Apps, Software',
       'Apps, Mobile, Transportation', 'Apps, Payments, Retail',
       'Artificial Intelligence',
       'Artificial Intelligence, Business Intelligence, Industrial Automation, Machine Learning',
       'Artificial Intelligence, Cloud Computing, Video',
       'Artificial Intelligence, Computer, Machine Learning',
       'Artificial Intelligence, Drones, Navigation, Packaging Services, Robotics',
       'Artificial Intelligence, Energy, Oil and Gas',
       'Artificial Intelligence, Human Resources, Information Services, Information Technology',
       'Artificial Intelligence, Information Technology',
       'Artificial Intelligence, Machine Learning, PaaS',
       'Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant',
       'Artificial Intelligence, Product Search, SaaS, Service Industry, Software',
       'Artificial Intelligence, Social',
       'Audio, Mobile, Tourism, Travel', 'Automotive',
       'Automotive, Battery, Electric Vehicle, Manufacturing, Mechanical Design',
       'Automotive, Battery, Energy, Energy Storage',
       'Automotive, E-Commerce',
       'Automotive, E-Commerce Platforms, Marketplace',
       'Automotive, E-Commerce, Information Services',
       'Automotive, E-Commerce, Marketplace',
       'Automotive, E-Commerce, Mobile',
       'Automotive, Electric Vehicle, Energy',
       'Automotive, Electric Vehicle, Energy Storage',
       'Automotive, Electric Vehicle, Renewable Energy',
       'Automotive, Last Mile Transportation, Peer to Peer, Ride Sharing',
       'Automotive, Marketplace, Online Portals',
       'Automotive, Rental, Sharing Economy', 'Automotive, Retail',
       'Automotive, Search Engine, Service Industry',
       'Autonomous Vehicles',
       'Autonomous Vehicles, Last Mile Transportation, Recreational Vehicles, Rental',
       'B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security',
       'B2B, Business Development, Internet, Marketplace',
       'B2B, E-Commerce, Enterprise', 'B2B, E-Commerce, Mobile',
       'B2B, Farming, Marketplace',
       'B2B, Food and Beverage, Food Delivery',
       'B2B, Information Services, Information Technology',
       'B2B, Marketplace', 'B2B, Medical Device', 'B2B, Shoes', 'Banking',
       'Banking, E-Learning, Trading Platform',
       'Banking, Finance, Financial Services',
       'Banking, Finance, Financial Services, Non Profit',
       'Banking, Financial Services, FinTech',
       'Banking, Financial Services, Internet',
       'Basketball, Cricket, Cycling, eSports, Fitness, Golf, Health Care, Hockey, Sports, Swimming, Table Tennis, Volley Ball',
       'Battery, Electric Vehicle, Energy, Renewable Energy, Transportation',
       'Beauty, Cosmetics, Health Care, Service Industry',
       'Beauty, Fashion, Wellness',
       'Beauty, Fitness, Home Services, Internet', 'Beauty, Health Care',
       'Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance',
       'Big Data, Consumer Lending, FinTech',
       'Big Data, Data Visualization, Logistics, Software',
       'Big Data, EdTech, Machine Learning',
       'Big Data, Financial Services, Machine Learning, Predictive Analytics',
       'Biopharma', 'Biotechnology',
       'Biotechnology, Diabetes, Health Care',
       'Biotechnology, Health Care, Life Science, Medical Device',
       'Biotechnology, Health Care, Pharmaceutical',
       'Biotechnology, Health Care, Wellness',
       'Biotechnology, Life Science, Pharmaceutical, Product Research',
       'Blockchain, Developer Tools, Enterprise Software',
       'Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing',
       'Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming',
       'Business Development, Market Research, Outsourcing',
       'Business Intelligence, Customer Service, Market Research, SaaS',
       'Business Travel, Hospitality, Hotel, Marketplace, Tourism, Travel Accommodations',
       'Career Planning, Education, Higher Education, Service Industry',
       'Career Planning, Education, Internet',
       'Catering, Food and Beverage, Food Delivery, Food Processing',
       "Child Care, Health Care, Hospital, Medical, Women's",
       'Child Care, Information Technology',
       'Children, Education, Online Portals',
       'Children, Education, Parenting',
       'Classifieds, Internet, Marketplace, Rental Property',
       'Clean Energy, CleanTech, Laundry and Dry-cleaning', 'CleanTech',
       'Cloud Computing, Computer, SaaS, Software',
       'Cloud Computing, Computer, Semiconductor',
       'Cloud Computing, Computer, Software',
       'Cloud Computing, Enterprise Software, Network Hardware, Network Security, SaaS',
       'Cloud Infrastructure, PaaS, SaaS',
       'Collaboration, Communities, Coworking, Real Estate',
       'Collaboration, Communities, Coworking, Sharing Economy',
       'Commercial Real Estate, Coworking, Office Administration, Real Estate',
       'Commercial, E-Learning, Education',
       'Communities, Coworking, Incubators',
       'Communities, Leisure, Mobile Apps, Software',
       'Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development',
       'Computer, FinTech, Risk Management, Software',
       'Computer, Furniture, Software', 'Consulting',
       'Consulting, Cyber Security, Network Security',
       'Consulting, Retail, Social', 'Consumer',
       'Consumer Applications, Information Services, Location Based Services, Virtual Assistant',
       'Consumer Electronics',
       'Consumer Electronics, E-Commerce, E-Commerce Platforms, Electronics, Shipping, Shopping',
       'Consumer Electronics, Embedded Systems, Hardware, Smart Building, Software',
       'Consumer Goods', "Consumer Goods, Lifestyle, Men's",
       'Consumer Goods, Manufacturing', 'Consumer Lending, FinTech',
       'Consumer Lending, Finance, FinTech',
       'Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management',
       'Consumer Lending, Financial Services, Lending, Personal Finance',
       'Consumer, Financial Services, FinTech',
       'Consumer, Furniture, Home Decor, Home Improvement',
       'Continuing Education, EdTech, Education, Skill Assessment',
       'Cooking, E-Commerce, Food and Beverage, Food Delivery, Online Portals',
       'Cosmetics',
       'Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health',
       'Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments',
       'Credit Cards, Payments, Property Insurance, Property Management, Rental Property',
       'Credit, Finance, FinTech, Lending, Sales Automation',
       'Credit, Financial Services, FinTech, Lending',
       'Credit, Financial Services, FinTech, Personal Finance',
       'Credit, Financial Services, Lending, Marketplace',
       'Crowdfunding, Finance, Financial Services',
       'Crowdfunding, Financial Services, Internet',
       'Crowdsourcing, Financial Services, Funding Platform, Venture Capital',
       'Cryptocurrency, Trading Platform',
       'Customer Service, Information Technology, Internet, Sales Automation',
       'Customer Service, Messaging, Mobile Apps, Personalization',
       'Customer Service, Software, Video, Video Streaming',
       'Dating, Private Social Networking',
       'Delivery Service, E-Commerce, Logistics',
       'Delivery Service, Food and Beverage, Food Delivery',
       'Delivery Service, Logistics, Service Industry',
       'Delivery, Drones, Geospatial, Robotics',
       'Delivery, Information Technology, Mobile Apps',
       'Delivery, Logistics, Transportation',
       'Dental, Elder Care, Health Care, Home Health Care, Personal Health',
       'Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food',
       'Digital Entertainment',
       'Digital Entertainment, Fantasy Sports, Gaming, Sports',
       'Digital Entertainment, Fantasy Sports, Sports',
       'Digital Entertainment, Mobile, PC Games',
       'Digital Marketing, SEM, SEO, Web Development', 'Digital Media',
       'Digital Media, EBooks, Publishing, Reading Apps',
       'Digital Media, Incubators, Social Entrepreneurship',
       'Digital Media, Internet, Media and Entertainment, Online Portals, Social Media',
       'Digital Media, News, Publishing', 'E-Commerce',
       'E-Commerce Platforms, Retail, SaaS',
       'E-Commerce, E-Commerce Platforms, Furniture, Home Decor, Internet',
       'E-Commerce, E-Commerce Platforms, Internet, Mobile Apps, Social Media',
       'E-Commerce, E-Commerce Platforms, Internet, Retail',
       'E-Commerce, E-Commerce Platforms, Retail',
       'E-Commerce, Education, Health Care',
       'E-Commerce, Facilities Support Services, Procurement, Supply Chain Management',
       'E-Commerce, Fashion, Jewelry, Retail',
       'E-Commerce, Fashion, Lifestyle', 'E-Commerce, Fashion, Mobile',
       'E-Commerce, Fashion, Shopping',
       'E-Commerce, Fitness, Health Care', 'E-Commerce, Food Processing',
       'E-Commerce, Food and Beverage, Internet',
       'E-Commerce, Food and Beverage, Tea',
       'E-Commerce, Furniture, Home Decor, Interior Design, Internet',
       'E-Commerce, Furniture, Interior Design',
       'E-Commerce, Health Care, Retail', 'E-Commerce, Mobile, Retail',
       'E-Commerce, Mobile, Sharing Economy',
       'E-Commerce, Retail, Shopping', 'E-Learning',
       'E-Learning, EdTech, Education',
       'E-Learning, EdTech, Education, Image Recognition, Machine Learning, STEM Education',
       'E-Learning, Education', 'E-Learning, Education, Higher Education',
       'E-Learning, Internet', 'E-Learning, Internet, Video Games',
       'EdTech, Education',
       'EdTech, Education, Enterprise Software, Peer to Peer',
       'EdTech, Education, Higher Education, Secondary Education',
       'EdTech, Education, Information Services, SaaS',
       'EdTech, Education, Knowledge Management',
       'EdTech, Education, Mobile, Tutoring', 'Education',
       'Education, Financial Services, FinTech',
       'Education, Gaming, Training', 'Education, Human Resources',
       'Education, Information Technology, Internet, Mobile, Software',
       'Electric Vehicle',
       'Embedded Systems, Health Care, Medical, Product Research',
       'Energy, Energy Storage, Infrastructure',
       'Energy, Environmental Consulting, Renewable Energy, Solar',
       'Energy, Natural Resources', 'Energy, Renewable Energy, Solar',
       'Energy, Solar',
       'Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate',
       'Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS',
       'Environmental Consulting, Renewable Energy', 'Events',
       'Eyewear, Internet', 'Facilities Support Services',
       'Fantasy Sports, Mobile, Sports', 'Farming', 'Fashion',
       'Fashion, Graphic Design, Wearables', 'Fashion, Jewelry',
       'Fashion, Lifestyle, Rental', 'Fashion, Lifestyle, Retail',
       'File Sharing, Personalization, Social Media',
       'FinTech, Internet, Payments, Service Industry',
       'FinTech, Mobile, Mobile Payments, Payments, Retail Technology',
       'Finance', 'Finance, FinTech, Mobile Payments',
       'Finance, FinTech, Payments, Property Development, Rental',
       'Finance, Financial Exchanges, Financial Services, Micro Lending',
       'Finance, Financial Services',
       'Finance, Financial Services, FinTech',
       'Finance, Financial Services, Insurance',
       'Finance, Financial Services, Marketing',
       'Finance, Financial Services, Small and Medium Businesses',
       'Finance, Impact Investing, Internet',
       'Finance, Impact Investing, Mobile Apps',
       'Finance, Internet, Travel', 'Financial Services',
       'Financial Services, FinTech',
       'Financial Services, Insurance, Private Social Networking',
       'Financial Services, Lending',
       'Financial Services, Lending, Peer to Peer',
       'Financial Services, Micro Lending',
       'Financial Services, Professional Services',
       'Financial Services, SaaS, Security',
       'Financial Services, Venture Capital',
       'Fitness, Food and Beverage, Health Care, Nutrition',
       'Fitness, GreenTech, Internet of Things, Mobile Apps, Ride Sharing, Transportation',
       'Fitness, Health Care, Wellness',
       'Fitness, Sporting Goods, Sports', 'Food Delivery',
       'Food Delivery, Food Processing, Internet',
       'Food Delivery, Hospitality, Reservations, Restaurants, Search Engine',
       'Food Delivery, Online Portals, Restaurants',
       'Food Delivery, Organic, Organic Food', 'Food Processing',
       'Food Processing, Retail', 'Food and Beverage',
       'Food and Beverage, Food Delivery',
       'Food and Beverage, Food Delivery, Internet',
       'Food and Beverage, Food Delivery, Snack Food',
       'Food and Beverage, Food Processing',
       'Food and Beverage, Food Processing, Manufacturing',
       'Food and Beverage, Food Processing, Nutrition',
       'Food and Beverage, Food Processing, Organic Food, Snack Food',
       'Food and Beverage, Restaurants, Tea',
       'Food and Beverage, Snack Food',
       'Food and Beverage, Snack Food, Tea', 'Food and Beverage, Tea',
       'Fraud Detection, Information Services, Security',
       'Funding Platform, Incubators, Non Profit', 'Gaming, iOS, Sports',
       'Government, Information Technology, Software', 'Health Care',
       'Health Care, Health Diagnostics, Internet of Things, Life Science, Machine Learning, Medical, Medical Device',
       'Health Care, Health Diagnostics, Predictive Analytics',
       'Health Care, Health Insurance', 'Health Care, Hospital',
       'Health Care, Hospital, Medical',
       'Health Care, Hospital, Medical, Robotics',
       'Health Care, Hospital, Supply Chain Management',
       'Health Care, Hospital, Wellness', 'Health Care, Hospitality',
       'Health Care, Information Technology',
       'Health Care, Information Technology, Management Information Systems',
       'Health Care, Medical', 'Health Care, Medical Device, Mobile Apps',
       'Health Care, Medical Device, Public Safety',
       'Health Care, Medical, Pharmaceutical',
       'Health Care, Pharmaceutical, Wellness', 'Health Diagnostics',
       'Health Insurance, Insurance, Life Insurance',
       'Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Smart Home',
       'Home Decor, Interior Design', 'Hospital', 'Hospitality',
       'Hospitality, Hotel, Leisure, Travel',
       'Hospitality, Information Technology, Travel Accommodations',
       'Hospitality, Real Estate', 'Human Resources',
       'Human Resources, Security, Training', 'Industrial Automation',
       'Industrial Automation, Logistics, Supply Chain Management',
       'Industrial, Industrial Automation',
       'Information Services, Information Technology',
       'Information Services, Information Technology, InsurTech',
       'Information Services, Information Technology, Mobile, Software',
       'Information Services, Internet, Logistics, Supply Chain Management, Transportation',
       'Information Technology',
       'Information Technology, Logistics, Supply Chain Management',
       'Information Technology, Mobile, News, Operating Systems, Social Media, Social News',
       'Information Technology, SaaS, Security', 'Insurance', 'Internet',
       'Internet of Things, Robotics',
       'Internet of Things, Telecommunications',
       'Internet of Things, Waste Management',
       'Internet, Knowledge Management', 'Internet, Leisure, Marketplace',
       'Internet, Marketplace, Shopping',
       'Internet, Mobile Apps, Social Network',
       'Internet, Mobile, Social Entrepreneurship, Telecommunications, Wireless',
       'Internet, Social Entrepreneurship',
       'Internet, Social Network, TV', 'Internet, Social News, Sports',
       'Internet, Software',
       'Last Mile Transportation, Railroad, Transportation, Travel',
       'Logistics, Railroad, Transportation',
       'Logistics, Supply Chain Management',
       'Logistics, Transportation, Travel', 'Manufacturing',
       'Manufacturing, Oil and Gas, Robotics', 'Manufacturing, Retail',
       'Market Research', 'Marketing', 'Marketing, Social Media, Video',
       'Marketplace, Real Estate, Rental Property',
       'Media and Entertainment, News, Outdoors',
       'Media and Entertainment, News, Publishing', 'Medical',
       'Medical Device', 'Medical, Tourism', 'Mobile', 'Mobile Payments',
       'Mobile, Mobile Apps, Personalization, Test and Measurement, Web Apps',
       'Mobile, Software, Travel', 'Music Streaming',
       'Music, Social Network, Video', 'Nanotechnology',
       'News, Publishing, Social Media', 'Online Games, Software',
       'Online Portals, Property Management, Rental',
       'Packaging Services', 'Reading Apps', 'Renewable Energy', 'Rental',
       'Rental, Taxi Service, Travel', 'Retail', 'Search Engine',
       'Smart Cities, Telecommunications', 'Social Media, Sports',
       'Software', 'Software, Virtual Reality', 'Sports',
       'Tourism, Travel', 'Trading Platform', 'Training',
       'Transportation', 'Travel', 'Veterinary', 'Wealth Management',
       'Wedding', 'Wellness', 'eSports, Gaming, Video Games', '—'],
      dtype=object)

In [100]:
import re

# Define the sector redistribution function
def sector_redistribution(Sector):
    if re.search(r'Technology|SaaS|Nanotechnology|HR tech|Safety tech|AI|IoT|AI startup|IoT startup|SaaS startup|Conversational AI platform|Productivity Tools|SaaS platform|AI platform|Scanning app|PaaS startup|AI Company|AR platform|Ayurveda tech|AI Startup|Personal care startup|SaaS\xa0\xa0startup|AR startup|AI Platform|API platform|IT|AI health|Digital tech|AI & Debt|AI & Deep learning|IT startup|AI Chatbot|MLOps platform|IT company|Augmented reality|AI company|IoT platform|Reading Apps|Biometrics|Image Recognition|Wireless|Natural Language Processing|Speech Recognition|Android|Artificial Intelligence|Apps|Analytics|Big Data|Blockchain|Developer Tools|Enterprise Software|Cloud Computing|Graphic Design|Wearables|Web Development|Computer|Cyber Security|Network Security|Information Technology|Management Information Systems|Embedded Systems|Smart Building|Software|Geospatial|SaaS|PaaS|Search Engine|Fraud Detection|ios|Machine Learning|Predictive Analytics|Smart Home|IT & Technology|Information Technology|Operating Systems|Internet of Things|Internet|Mobile|Mobile Apps|Web Apps|Smart Cities|Telecommunications|Virtual Reality|Online Portals|Smart Home|Big Data|Data Visualization', Sector):
        return 'IT & Technology'
    elif re.search(r'Agriculture|Farming|Agri tech|Agri tech startup|Agri tech|Agri tech|Fishery', Sector):
        return 'Agriculture'
    elif re.search(r'Finance Services|Funding Platform|Consumer Lending|Credit Cards|Credit|cryptocurrency|Crowdfunding|Trading Platform|Accounting|Banking|Financial Exchanges|Insurance|Small and Medium Businesses|Impact Investing|Venture Capital|Micro Lending|Lending|Finance|FinTech|Mobile Payments|InsurTech|Payments',Sector):
        return 'Finance Services'
    elif re.search(r'Social Entrepreneurship|Creative Agency|Crowdfunding|Crowdsourcing| Peer to Peer|Wealth Management|Innovation Management|Packaging Services|Collaboration|Business Intelligence|Professional Services|Digital mortgage|AI & Debt|Startup laboratory|Innovation management|CRM| Service Industry|Sales Automation|Human Resources|Brand Marketing|Sharing Economy|Marketing|Sponsorship|Ticketing|Enterprise Resource Planning (ERP)|Coworking|Office Administration|Marketplace|Social Media Marketing|Digital Marketing|Facilities Support Services|Risk Management|Enterprise|Business Development|B2B|Human Resources|Customer Services|Consulting|Market Research|Outsourcing|Business Intelligence|Business Services|Sales Automation', Sector):
        return 'Business Services'
    elif re.search(r'LifeStyle|Consumer Goods|Beauty and Fashion|Personal care startup|Furniture|Fusion beverages|Dairy startup|Dairy|OTT|Milk startup|Organic|Food Delivery|Home Decor|Home Improvement|Home Renovation|Home Services|Interior Design|Food and Beverage|Food Processing|Organic Food|Snack Food|Restaurants|Tea|Fashion|Jewelry|Lifestyle|Shopping|Cosmetics|Cooking', Sector):
        return 'Consumer Goods'
    elif re.search(r'Manufacturing|Robotics|Consumer Electronics|Drones|Hardware|Industrial|Automotive|Battery|Electric Vehicle|Mechanical Design|Infrastructure|Oil and Gas|3D Printing|Product Design', Sector):
        return 'Manufacturing'
    elif re.search(r'Transport|EV startup|Aerospace|Industrial Automation|Bike marketplace|Delivery service|Transportation & Logistics|Taxi Service|Last Mile Transportation|Railroad|Transportation|Air Transportation|Freight Service|Logistics|Marine Transportation|Autonomous Vehicles|Recreational Vehicles', Sector):
        return 'Transportation & Logistics'
    elif re.search(r'Education|STEM Education|EdTech|E-Learning|Continuing Education|Skill Assessment|Knowledge Management|Tutoring|Education|Higher Education', Sector):
        return 'Education'
    elif re.search(r'Energy|Renewable player|Renewable player|EV|Solar', Sector):
        return 'Energy'
    elif re.search(r'Health|Yoga & wellness|Medical Device|Health|Pet care|Women"s|men"s|Incubators|Waste Management|Personal Health|Dietary Supplements|Children|Child Care|Environmental Consulting|Biotechnology|Dental|Elder Care|Home Health Care|Parenting|Personal Health|Health Diagnostics|Hospital|Medical|Pharmaceutical|Public Safety|Wellness|Health Insurance|Life Insurance|Healthcare & Life Sciences|Health Care|mHealth|Life Science', Sector):
        return 'Healthcare & Life sciences'
    elif re.search(r'Hospitality|Hotel|Leisure|Reservations|Restaurants', Sector):
        return 'Hospitality'
    elif re.search(r'Media and Entertainment|Internet Radio|Commercial|Dating|Messaging|Private Social Networking|Digital Entertainment|Digital Marketing|PC Games| Fantasy sports|Social audio|Audio|SEM|SEO|Event Promotion|Online Games|Social Network|Video|Social Media|Gaming|Video Games|News|Publishing|Digital Media|EBooks|Broadcasting|Music|Music Streaming|Video Streaming|TV' ,Sector):
        return 'Media and Entertainment'
    elif re.search(r'Sporting Goods|eSports|Sports|Basketball|Cricket|Cycling|eSports|Fitness|Golf|Hockey|Sports|Swimming|Table Tennis|Volley Ball', Sector):
        return 'Sports'
    elif re.search(r'Retail|E-Commerce|E-Commerce Platforms', Sector):
        return 'Retail'
    elif re.search(r'Real Estate|Rental Property|Property Management|Communities|Rental|Real Estate|Commercial Real Estate', Sector):
        return 'Real Estate'
    elif re.search(r'Travel & Tourism|Travel|Tourism|Business Travel', Sector):
        return 'Travel & Tourism'
    elif re.search(r'Nan|-|nan|NaN|—|None', Sector):
        return 'NaN'
    else:
        return 'Others'
    

    # Convert "Sector" column to string type
df_2018['Sector'] = df_2018['Sector'].astype(str)

# Apply the function to create the new column
df_2018['Sector'] = df_2018['Sector'].apply(sector_redistribution)

In [101]:
df_2018['Sector'].value_counts()

Sector
IT & Technology               184
Finance Services               51
Healthcare & Life sciences     47
NaN                            45
Consumer Goods                 44
Business Services              42
Education                      24
Manufacturing                  23
Media and Entertainment        17
Transportation & Logistics     14
Others                          8
Agriculture                     7
Travel & Tourism                6
Energy                          5
Retail                          5
Sports                          3
Real Estate                     1
Name: count, dtype: int64

In [102]:
df_2018['Sector'] = df_2018['Sector'].replace('NaN',None)

In [103]:
df_2018['Sector'].isnull().sum()

45

In [104]:
df_2018[pd.isnull(df_2018['Sector'])]

,Company_Brand,Sector,Stage,Amount($),HeadQuarter,What_it_does,Funding_Year,Founded,Investor,Founders
21,PaisaDukan,None,Seed Funding,6.500000e+05,"Mumbai, Maharashtra, India",A P2P lending marketplace platform,2018,2018,Undisclosed,Undisclosed
32,Loanzen,None,Seed Funding,1.200192e+06,"Bangalore, Karnataka, India",Loanzen helps small businesses get unsecured w...,2018,2018,Undisclosed,Undisclosed
39,Kaleidofin,None,Seed Funding,2.800000e+06,"Chennai, Tamil Nadu, India",A fintech platform.,2018,2018,Undisclosed,Undisclosed
58,MissMalini Entertainment,None,Seed Funding,1.248200e+06,"Mumbai, Maharashtra, India",MissMalini Entertainment is a multi-platform n...,2018,2018,Undisclosed,Undisclosed
105,Jagaran Microfin,None,Late Stage Funding,6.601056e+06,"Kolkata, West Bengal, India",Jagaran Microfin is a Microfinance institution...,2018,2018,Undisclosed,Undisclosed
106,Vivriti Capital,None,Undisclosed,2.850000e+07,"Chennai, Tamil Nadu, India",Vivriti Capital is an online platform for inst...,2018,2018,Undisclosed,Undisclosed
121,FLEECA,None,Seed Funding,1.200192e+06,"Jaipur, Rajasthan, India",FLEECA is a Tyre Care Provider company.,2018,2018,Undisclosed,Undisclosed
146,WheelsEMI,None,Growth Stage Funding,1.400000e+07,"Pune, Maharashtra, India","WheelsEMI is the brand name of NBFC, WheelsEMI...",2018,2018,Undisclosed,Undisclosed
153,Fric Bergen,None,Undisclosed,1.200192e+06,"Alwar, Rajasthan, India",Fric Bergen is a leader in the specialty food ...,2018,2018,Undisclosed,Undisclosed
174,Deftouch,None,Seed Funding,1.200192e+06,"Bangalore, Karnataka, India",Deftouch is a mobile game development company ...,2018,2018,Undisclosed,Undisclosed
181,Corefactors,None,Seed Funding,1.200192e+06,"Bangalore, Karnataka, India","Corefactors is a leading campaign management, ...",2018,2018,Undisclosed,Undisclosed
210,Cell Propulsion,None,Seed Funding,8.401344e+04,"Bangalore, Karnataka, India",Cell Propulsion is an electric mobility startu...,2018,2018,Undisclosed,Undisclosed
221,Streak,None,Seed Funding,2.700432e+05,"Bangalore, Karnataka, India",Algorithmic trading platform.,2018,2018,Undisclosed,Undisclosed
222,Kuants,None,Seed Funding,6.000960e+04,"Gurgaon, Haryana, India",Algorithmic trading platform.,2018,2018,Undisclosed,Undisclosed
230,Flathalt,None,Early Stage Funding,5.000000e+04,"Gurgaon, Haryana, India",FInd your Customized Home here.,2018,2018,Undisclosed,Undisclosed
232,Trendlyne Technologies,None,Seed Funding,2.000000e+05,"Bangalore, Karnataka, India",Trendlyne Technologies is a stock market analy...,2018,2018,Undisclosed,Undisclosed
235,dishq,None,Seed Funding,4.000000e+05,"Bengaluru, Karnataka, India",dishq leverages food science and machine learn...,2018,2018,Undisclosed,Undisclosed
238,Trell,None,Seed Funding,1.250000e+06,"Bangalore City, Karnataka, India",Trell is a location based network which helps ...,2018,2018,Undisclosed,Undisclosed
242,HousingMan.com,None,Seed Funding,1.236198e+06,"Bengaluru, Karnataka, India","New Apartments, Flats for Sale in Bangalore",2018,2018,Undisclosed,Undisclosed
243,Steradian Semiconductors,None,Seed Funding,1.200192e+06,"Bangalore, Karnataka, India",It is a fabless semiconductor company focused ...,2018,2018,Undisclosed,Undisclosed
247,SaffronStays,None,Seed Funding,2.000000e+06,"Mumbai, Maharashtra, India",SaffronStays connects travellers to India's In...,2018,2018,Undisclosed,Undisclosed
251,Inner Being Wellness,None,Early Stage Funding,4.200672e+05,"Hyderabad, Andhra Pradesh, India","Inner Being Wellness manufactures beauty, well...",2018,2018,Undisclosed,Undisclosed
257,MySEODoc,None,Seed Funding,1.200192e+06,"Delhi, Delhi, India","SEO, PPC, Search Engine Marketing, Social Medi...",2018,2018,Undisclosed,Undisclosed
258,ENLYFT DIGITAL SOLUTIONS PRIVATE LIMITED,None,Seed Funding,2.400384e+03,"Pune, Maharashtra, India",Digital Marketing Agency,2018,2018,Undisclosed,Undisclosed
259,Scale Labs,None,Seed Funding,1.000000e+06,"Delhi, Delhi, India",Scale Labs is a cross border e-commerce soluti...,2018,2018,Undisclosed,Undisclosed
294,Roadcast,None,Early Stage Funding,2.500000e+05,"New Delhi, Delhi, India",Transforming the way businesses deliver. Work-...,2018,2018,Undisclosed,Undisclosed
296,Creditas Solutions,None,Seed Funding,1.200192e+06,"Gurgaon, Haryana, India",Creditas was set-up in 2015 with an aim to hel...,2018,2018,Undisclosed,Undisclosed
317,Kuvera.in,None,Early Stage Funding,2.500000e+05,"Bangalore, Karnataka, India",An online platform for mutual fund investments.,2018,2018,Undisclosed,Undisclosed
325,Toffee,None,Seed Funding,1.500000e+06,"Gurgaon, Haryana, India","Toffee is a bite size, micro-event & contextua...",2018,2018,Undisclosed,Undisclosed
326,ORO Wealth,None,Early Stage Funding,1.600000e+06,"Mumbai, Maharashtra, India",Online wealth management platform,2018,2018,Undisclosed,Undisclosed
334,Aashiyaan Housing and Development Finance,None,Seed Funding,1.620259e+06,"Kolkata, West Bengal, India",Provide housing finance to those in the inform...,2018,2018,Undisclosed,Undisclosed
346,Finwego,None,Seed Funding,1.200192e+06,"Chennai, Tamil Nadu, India",Finwego partners with Small and Medium Busines...,2018,2018,Undisclosed,Undisclosed
356,Kogta Financial India Limited,None,Growth Stage Funding,1.848296e+07,"Jaipur, Rajasthan, India",Kogta Financial (India) Ltd is a retail-focuse...,2018,2018,Undisclosed,Undisclosed
398,Cred,None,Seed Funding,1.200192e+06,"Bengaluru, Karnataka, India",Cred is a platform to celebrate and reward the...,2018,2018,Undisclosed,Undisclosed
412,INDwealth,None,Seed Funding,2.640422e+07,"Gurgaon, Haryana, India",INDwealth is an Artificial Intelligence (AI) p...,2018,2018,Undisclosed,Undisclosed
429,Loans4SME,None,Seed Funding,1.200192e+06,"Mumbai, Maharashtra, India",Loans4SME is an alternative lending platform.,2018,2018,Undisclosed,Undisclosed
441,Veritas Finance,None,Undisclosed,3.000000e+07,"Guindy, Tamil Nadu, India",Veritas Finance has been promoted with a prima...,2018,2018,Undisclosed,Undisclosed
457,Origo,None,Undisclosed,9.601536e+06,"Gurgaon, Haryana, India","Origo Commodities, a complete post-harvest man...",2018,2018,Undisclosed,Undisclosed
468,Goals101,None,Seed Funding,3.500000e+06,"Delhi, Delhi, India",Goals101 is a one of the fastest growing big-d...,2018,2018,Undisclosed,Undisclosed
472,Sequretek,None,Undisclosed,3.700000e+06,"Mumbai, Maharashtra, India",Sequretek is a cyber security start-up.,2018,2018,Undisclosed,Undisclosed
473,Avenues Payments India Pvt. Ltd.,None,Corporate Round,1.300000e+06,"Mumbai, Maharashtra, India",Avenues Payments is an IT solutions provider f...,2018,2018,Undisclosed,Undisclosed
476,Planet11 eCommerce Solutions India (Avenue11),None,Corporate Round,3.120499e+06,"Bengaluru, Karnataka, India","Planet11 is backed by SK Planet, which is a pa...",2018,2018,Undisclosed,Undisclosed
478,Iba Halal Care,None,Early Stage Funding,1.800288e+06,"Ahmedabad, Gujarat, India",Iba Halal Care is a cosmetics brand company.,2018,2018,Undisclosed,Undisclosed
480,Togedr,None,Undisclosed,1.200192e+06,"Gurgaon, Haryana, India",Togedr is an activity discovery & booking plat...,2018,2018,Undisclosed,Undisclosed
510,Scholify,None,Pre-seed Funding,1.200192e+06,"Bengaluru, Karnataka, India",Edutech,2018,2018,Undisclosed,Undisclosed

In [105]:
df_2018.loc[21,'Sector'] = 'Financial Services'
df_2018.loc[32,'Sector'] = 'Financial Services'
df_2018.loc[39,'Sector'] = 'Financial Services'
df_2018.loc[58,'Sector'] = 'Media & Entertainment'
df_2018.loc[105,'Sector'] ='Financial Services'
df_2018.loc[510	,'Sector'] ='Education'
df_2018.loc[480,'Sector'] = 'Business Services'
df_2018.loc[478	,'Sector'] = 'Consumer Goods'
df_2018.loc[476	,'Sector'] = 'Retail'
df_2018.loc[473	,'Sector'] = 'Financial Services'
df_2018.loc[472,'Sector'] = 'IT & Technology'
df_2018.loc[468	,'Sector'] = 'IT & Technology'
df_2018.loc[457,'Sector'] = 'Manufacturing'
df_2018.loc[441,'Sector'] = 'Financial Services'
df_2018.loc[429,'Sector'] = 'Financial Services'
df_2018.loc[412,'Sector'] = 'IT & Technology'
df_2018.loc[398,'Sector'] = 'Media & Entertainment'
df_2018.loc[356,'Sector'] = 'Retail'
df_2018.loc[346,'Sector'] = 'Business Services'
df_2018.loc[334,'Sector'] = 'Real Estate'
df_2018.loc[326,'Sector'] = 'Business Services'
df_2018.loc[325,'Sector'] = 'Business Services'
df_2018.loc[317,'Sector'] = 'Business Services'
df_2018.loc[296,'Sector'] = 'Financial Services'
df_2018.loc[294,'Sector'] = 'Business Services'
df_2018.loc[259,'Sector'] = 'Retail'
df_2018.loc[258,'Sector'] = 'Business Services'
df_2018.loc[257,'Sector'] = 'Business Services'
df_2018.loc[251,'Sector'] = 'Consumer Goods'
df_2018.loc[247,'Sector'] = 'Hospitality'
df_2018.loc[243,'Sector'] = 'Manufacturing'
df_2018.loc[242,'Sector'] = 'Real Estate'
df_2018.loc[238,'Sector'] = 'Transportation & Logistics'
df_2018.loc[235,'Sector'] = 'IT & Technology'
df_2018.loc[232,'Sector'] = 'Financial Services'
df_2018.loc[230,'Sector'] = 'Real Estate'
df_2018.loc[222,'Sector'] = 'Financial Services'
df_2018.loc[221,'Sector'] = 'Financial Services'
df_2018.loc[210,'Sector'] = 'Transportation & Logistics'
df_2018.loc[181,'Sector'] = 'Media & Entertainment'
df_2018.loc[174,'Sector'] = 'Media & Entertainment'
df_2018.loc[153,'Sector'] = 'Consumer Goods'
df_2018.loc[146,'Sector'] = 'Transportation & Logistics'
df_2018.loc[121,'Sector'] = 'Manufacturing'
df_2018.loc[106,'Sector'] = 'Financial Services'

In [106]:
# merge and concertinate all dataframe together to get a single dataframe 
# concertinate 2021,2020,2019 dataframe togeteher 
df_2020_2021_2019_2018=pd.concat([df_2020,df_2021,df_2019,df_2018],axis=0)
df_2020_2021_2019_2018

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
0,Aqgromalin,2019,Chennai,Agriculture,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,2.000000e+05,Undisclosed,2020
1,Krayonnz,2019,Bangalore,Education,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,1.000000e+05,Pre-seed funding,2020
2,PadCare Labs,2018,Pune,Healthcare & Life Science,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,3.000000e+06,Pre-seed funding,2020
3,NCOME,2020,New Delhi,Financial Services,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",4.000000e+05,Undisclosed,2020
4,Gramophone,2016,Indore,Agriculture,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",3.400000e+05,Undisclosed,2020
...,...,...,...,...,...,...,...,...,...,...
521,Udaan,2018,"Bangalore, Karnataka, India",IT & Technology,"Udaan is a B2B trade platform, designed specif...",Undisclosed,Undisclosed,2.250000e+08,Growth Stage Funding,2018
522,Happyeasygo Group,2018,"Haryana, Haryana, India",Travel & Tourism,HappyEasyGo is an online travel domain.,Undisclosed,Undisclosed,1.200192e+06,Early Stage Funding,2018
523,Mombay,2018,"Mumbai, Maharashtra, India",IT & Technology,Mombay is a unique opportunity for housewives ...,Undisclosed,Undisclosed,7.500000e+03,Seed Funding,2018
524,Droni Tech,2018,"Mumbai, Maharashtra, India",IT & Technology,Droni Tech manufacture UAVs and develop softwa...,Undisclosed,Undisclosed,4.200672e+05,Seed Funding,2018
525,Netmeds,2018,"Chennai, Tamil Nadu, India",Healthcare & Life sciences,Welcome to India's most convenient pharmacy!,Undisclosed,Undisclosed,3.500000e+07,Growth Stage Funding,2018

In [107]:
df_2020_2021_2019_2018['Sector'].value_counts()

Sector
IT & Technology                 389
Financial Services              238
Consumer Goods                  191
Education                       148
FinTech                         122
                               ...
Advisory firm                     1
Legaltech                         1
Pollution control equiptment      1
Fashion & Lifestyle               1
Beverages                         1
Name: count, Length: 269, dtype: int64

In [ ]:
df_2020_2021_2019_2018['Sector'].sort_values().unique()

array(['AI Chatbot', 'AI company', 'AI startup', 'AR startup',
       'Advertisement', 'Advisory firm', 'Aeorspace', 'AgriTech',
       'Agriculture', 'Analytics', 'Apparel & Fashion', 'Arts & Crafts',
       'Augmented reality', 'Automation', 'Automobile', 'Automotive',
       'Aviation', 'Aviation & Aerospace', 'B2B', 'B2B E-commerce',
       'B2B Ecommerce', 'B2B Manufacturing', 'B2B Marketplace',
       'B2B Travel', 'B2B marketplace', 'B2B service', 'B2B startup',
       'Banking', 'Battery', 'Beauty products', 'Beverages',
       'Bike Rental', 'BioTechnology', 'Biotechnology', 'Blockchain',
       'Blockchain startup', 'Blogging', 'Business Services',
       'Business Supplies & Equipment', 'CRM', 'Cannabis startup',
       'Capital Markets', 'Celebrity Engagement', 'CleanTech', 'Clothing',
       'Cloud kitchen', 'Co-working', 'Commerce',
       'Commercial Real Estate', 'Community', 'Community platform',
       'Company-as-a-Service', 'Computer & Network Security',
       'Computer Games', 'Computer Software', 'Computer software',
       'Construction', 'Consulting', 'Consumer Electronics',
       'Consumer Goods', 'Consumer Services', 'Consumer goods',
       'Consumer service', 'Consumer software', 'Content commerce',
       'Content creation', 'Content publishing', 'Cosmetics', 'Crypto',
       'Cryptocurrency', 'Cultural', 'D2C', 'D2C Business', 'D2C Fashion',
       'D2C jewellery', 'D2C startup', 'Dating', 'Deep Tech', 'Deeptech',
       'Defense & Space', 'Delivery service', 'Design',
       'Digital mortgage', 'Digital platform', 'Drone', 'E-commerce',
       'E-learning', 'EV', 'EV startup', 'EdTech', 'Education',
       'Education Management', 'Electronics', 'Energy', 'Entertainment',
       'Environmental Services', 'Environmental service',
       'Equity Management', 'Eyewear', 'Facilities Services',
       'Fantasy sports', 'Farming', 'Fashion', 'Fashion & Lifestyle',
       'Fashion and lifestyle', 'FemTech', 'Femtech', 'FinTech',
       'Finance', 'Finance Services', 'Financial Services', 'Fishery',
       'Fitness', 'Food', 'Food & Beverages', 'Food Industry',
       'Food Production', 'Food and Beverages', 'Food delivery',
       'Foootwear', 'Furniture', 'Furniture Rental', 'Gaming', 'HR Tech',
       'HRTech', 'Hauz Khas', 'Healtcare', 'Health', 'Health care',
       'Health, Wellness & Fitness', 'HealthCare', 'HealthTech',
       'Healthcare', 'Healthcare & Life Science',
       'Healthcare & Life Sciences', 'Healthcare & Life sciences',
       'Healthtech', 'HeathTech', 'Heathcare', 'Helathcare',
       'Higher Education', 'Home Decor', 'Home services',
       'Hospital & Health Care', 'Hospitality', 'Housing Marketplace',
       'Human Resources', 'IT', 'IT & Technology', 'IT company',
       'IT startup', 'Industrial Automation', 'Information Services',
       'Information Technology', 'Information Technology & Services',
       'Innovation Management', 'Innovation management', 'Insurance',
       'InsureTech', 'Insuretech', 'Interior Design', 'Internet',
       'Investment Banking', 'Investment Management', 'IoT',
       'IoT platform', 'Job discovery platform', 'Legal Services',
       'LegalTech', 'Legaltech', 'Lifestyle', 'Location Analytics',
       'Logistics', 'Logistics & Supply Chain', 'MLOps platform',
       'Management Consulting', 'Manchester, Greater Manchester',
       'Manufacturing', 'Manufacturing startup', 'MarTech', 'Maritime',
       'Marketing', 'Marketing & Advertising', 'Matrimony',
       'Mechanical & Industrial Engineering',
       'Mechanical Or Industrial Engineering', 'Media',
       'Media & Entertainment', 'Media & Entertsinment',
       'Media and Entertainment', 'Merchandise', 'Milk startup',
       "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
       'Mobile Games', 'Mobility', 'Music', 'NFT', 'NFT Marketplace',
       'Nanotechnology', 'Networking', 'Nutrition', 'OTT', 'Oil & Energy',
       'Oil and Energy', 'Online Media', 'Online storytelling', 'Others',
       'Personal Care', 'Pet care', 'Podcast',
       'Pollution control equiptment', 'Product studio',
       'Professional Training & Coaching', 'Real Estate', 'Real Estate ',
       'Real estate', 'Recruitment', 'Renewable Energy',
       'Renewables & Environment', 'Rental', 'Rental space', 'Retail',
       'Robotics', 'SaaS', 'SaaS startup', 'Sales and Distribution',
       'Skill development',
       'Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience',
       'Social Media', 'Social audio', 'Social commerce',
       'Social community', 'Social media', 'Social network',
       'Social platform', 'Software', 'Software Startup',
       'Software company', 'Solar', 'SpaceTech', 'Spiritual', 'Sports',
       'Sports startup', 'SportsTech', 'Staffing & Recruiting',
       'Supply chain platform', 'TaaS startup', 'Tech Startup',
       'Tech startup', 'Telecommuncation', 'Telecommunications',
       'Textiles', 'Tobacco', 'Tourism', 'Trading platform',
       'Translation & Localization', 'Transportation',
       'Transportation & Logistics', 'Travel & Tourism',
       'Vehicle repair startup', 'Venture Capital',
       'Venture Capital & Private Equity', 'Venture capitalist',
       'Veterinary', 'Video communication', 'Water purification',
       'Wholesale', 'Wine & Spirits', 'sports'], dtype=object)

In [108]:
# import re

# Define the sector redistribution function
def sector_distribution(Sector):
    if re.search(r'Technology|SaaS|Nanotechnology|HR tech|HRTech|HR Tech|Safety tech|AI|IoT|AI startup|IoT startup|SaaS startup|NFT|TaaS startup|Conversational AI platform|Productivity Tools|Augmented realityDairy startup|SaaS platform|AI platform|Scanning app|PaaS startup|AI Company|AR platform|Ayurveda tech|AI Startup|Personal care startup|SaaS\xa0\xa0startup|AR startup|AI Platform|API platform|IT|AI health|Digital tech|AI & Debt|AI & Deep learning|IT startup|AI Chatbot|MLOps platform|IT company|Augmented reality|AI company|IoT platform|Reading Apps|Biometrics|Image Recognition|Wireless|Natural Language Processing|Speech Recognition|Android|Artificial Intelligence|Apps|Analytics|Big Data|Blockchain|Developer Tools|Enterprise Software|Cloud Computing|Graphic Design|Wearables|Web Development|Computer|Cyber Security|Network Security|Information Technology|SpaceTech|Management Information Systems|Embedded Systems|Smart Building|Software|Geospatial|SaaS|PaaS|Search Engine|FemTech|Fraud Detection|ios|Machine Learning|Blockchain startup|Predictive Analytics|Smart Home|IT & Technology|Information Technology|Operating Systems|Internet of Things|Internet|Mobile|Mobile Apps|Web Apps|Smart Cities|Telecommunications|Virtual Reality|Online Portals|Smart Home|Big Data|NFT Marketplace|MLOps platform|Location Analytics|Data Visualization|Information Technology & Services', Sector):
        return 'IT & Technology'
    elif re.search(r'Agriculture|Farming|Agri tech|Agri tech startup|Agri tech|Agri tech|Fishery', Sector):
        return 'Agriculture'
    elif re.search(r'Finance Services|Funding Platform|Consumer Lending|Credit Cards|Credit|cryptocurrency|Crowdfunding|Trading Platform|Accounting|Banking|Financial Exchanges|Insurance|Small and Medium Businesses|Impact Investing|Venture Capital|Micro Lending|Lending|Finance|FinTech|Mobile Payments|InsurTech|Payments',Sector):
        return 'Finance Services'
    elif re.search(r'Social Entrepreneurship|Human Resources|Capital Markets|Content commerce|LegalTech|Advisory firm|Management Consulting|Venture Capital|Venture Capital & Private Equity|Staffing & Recruiting|Merchandise|Venture capitalistCreative Agency|Crowdfunding|Crowdsourcing| Peer to Peer|Wealth Management|Innovation Management|Packaging Services|Collaboration|Business Intelligence|Professional Services|Digital mortgage|AI & Debt|Startup laboratory|Innovation management|CRM| Service Industry|Sales Automation|Human Resources|Brand Marketing|Sharing Economy|Marketing|Sponsorship|Ticketing|Enterprise Resource Planning (ERP)|Coworking|Office Administration|Marketplace|Social Media Marketing|Digital Marketing|Facilities Support Services|Risk Management|Enterprise|Business Development|B2B|Human Resources|Customer Services|Consulting|Market Research|Outsourcing|Business Intelligence|Business Services|Sales Automation|Sales and Distribution|Social commerce|Social community|Social network|Housing Marketplace|Equity Management|Business Supplies & Equipment|B2B E-commerce|B2B Ecommerce|B2B Manufacturing|B2B Marketplace|B2B Travel|B2B service|B2B startup', Sector):
        return 'Business Services'
    elif re.search(r'LifeStyle|Consumer Goods|Clothing|Cloud kitchen|Furniture Rental|Cannabis startup|Foootwear|Cultural|D2C|D2C Business|D2C Fashion|D2C jewellery|D2C startup|Beauty and Fashion|Personal care startup|Textiles|Tobacco|Furniture|Fusion beverages|Apparel & Fashion|Arts & Crafts|Dairy|OTT|Milk startup|Organic|Food Delivery|Home Decor|Home Improvement|Home Renovation|Home Services|Interior Design|Food and Beverage|Food Processing|Organic Food|Snack Food|Restaurants|Tea|Fashion|Jewelry|Lifestyle|Shopping|Cosmetics|Cooking|Wholesale|Wine & Spirits|Food|Food Industry|Food Production', Sector):
        return 'Consumer Goods'
    elif re.search(r'Manufacturing|Robotics|Consumer Electronics|Drones|Hardware|Industrial|Manufacturing startup|Automotive|Battery|Mechanical & Industrial Engineering|Electric Vehicle|Mechanical Design|Infrastructure|Oil and Gas|3D Printing|Product Design', Sector):
        return 'Manufacturing'
    elif re.search(r'Transport|EV startup|Aerospace|Industrial Automation|Bike marketplace|Delivery service|Transportation & Logistics|Taxi Service|Last Mile Transportation|Railroad|Transportation|Air Transportation|Freight Service|Logistics|Marine Transportation|Autonomous Vehicles|Recreational Vehicles|Aviation|Aviation & Aerospace', Sector):
        return 'Transportation & Logistics'
    elif re.search(r'Education|STEM Education|Educational Management|EdTech|E-Learning|Continuing Education|Skill Assessment|Skill development|Knowledge Management|Tutoring|Education|Higher Education|Professional Training & Coaching', Sector):
        return 'Education'
    elif re.search(r'Energy|Renewable player|Renewable player|EV|Solar', Sector):
        return 'Energy'
    elif re.search(r'Health|Yoga & wellness|Healthtech|HeathTech|Helathcare|Medical Device|Health|Pet care|Women"s|men"s|Incubators|Waste Management|Personal Health|Dietary Supplements|Children|Pollution control equiptment|Child Care|Environmental Consulting|Biotechnology|Dental|Elder Care|Home Health Care|Parenting|Personal Health|Health Diagnostics|Hospital|Medical|Pharmaceutical|Public Safety|Wellness|Health Insurance|Life Insurance|Healthcare & Life Sciences|Health Care|mHealth|Life Science|Renewables & Environment|Envirnmental Services', Sector):
        return 'Healthcare & Life sciences'
    elif re.search(r'Hospitality|Hotel|Leisure|Reservations|Restaurants', Sector):
        return 'Hospitality'
    elif re.search(r'Media and Entertainment|Blogging|Celebrity Engagement|Internet Radio|Commercial|Content creation|Content publishing|Dating|Messaging|Private Social Networking|Digital Entertainment|Online storytelling|Digital Marketing|PC Games|Podcast|Product studio| Fantasy sports|Social audio|Audio|SEM|SEO|Event Promotion|Online Games|Social Network|Video|Social Media|Gaming|Video Games|News|Publishing|Digital Media|EBooks|Broadcasting|Music|Music Streaming|Video Streaming|TV' ,Sector):
        return 'Media and Entertainment'
    elif re.search(r'Sporting Goods|eSports|Sports|Basketball|Cricket|Cycling|eSports|Fitness|Golf|Hockey|Sports|Swimming|Table Tennis|Volley Ball|Sports startup|SportsTech', Sector):
        return 'Sports'
    elif re.search(r'Retail|E-Commerce|E-Commerce Platforms', Sector):
        return 'Retail'
    elif re.search(r'Real Estate|Rental Property|Property Management|Communities|Rental|Real Estate|Commercial Real Estate', Sector):
        return 'Real Estate'
    elif re.search(r'Travel & Tourism|Travel|Tourism|Business Travel', Sector):
        return 'Travel & Tourism'
    elif re.search(r'Nan|-|nan|NaN|—|None', Sector):
        return 'NaN'
    else:
        return 'Others'
    

    # Convert "Sector" column to string type
df_2020_2021_2019_2018['Sector'] = df_2020_2021_2019_2018['Sector'].astype(str)

# Apply the function to create the new column
df_2020_2021_2019_2018['Sector'] = df_2020_2021_2019_2018['Sector'].apply(sector_distribution)

In [109]:

df_2020_2021_2019_2018['Sector'].value_counts()

Sector
IT & Technology               553
NaN                           302
Consumer Goods                290
Healthcare & Life sciences    282
Education                     258
Others                        252
Finance Services              191
Business Services             160
Transportation & Logistics    139
Retail                        121
Manufacturing                  79
Agriculture                    65
Media and Entertainment        57
Real Estate                    29
Energy                         24
Travel & Tourism               22
Sports                         13
Name: count, dtype: int64

In [110]:
df_2020_2021_2019_2018['Sector'] = df_2020_2021_2019_2018['Sector'].replace('NaN',None)

In [111]:
df_2020_2021_2019_2018[pd.isnull(df_2020_2021_2019_2018['Sector'])]

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
3,NCOME,2020,New Delhi,None,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",4.000000e+05,Undisclosed,2020
8,Rupeek,2015,Bangalore,None,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",4.500000e+07,Growth Stage Funding,2020
16,OurEye.ai,2020,Bangalore,None,Video intelligence solution for Enterprise Sta...,"Miran Junaidi, Saurabh Ghanekar, Sourav Sanyal","100X VC, Amara Ventures",1.200000e+05,Undisclosed,2020
18,Pine Labs,1998,Noida,None,A merchant platform company that provides fina...,Amrish Rau,"Mastercard, Temasek Holdings",3.000000e+06,Undisclosed,2020
19,Moneyboxx Finance,2019,New Delhi,None,MONEYBOXX FINANCE LTD is committed to providin...,Prashant Agarwal,"BlackSoil, Caspian",1.000000e+06,Undisclosed,2020
...,...,...,...,...,...,...,...,...,...,...
232,Trendlyne Technologies,2018,"Bangalore, Karnataka, India",None,Trendlyne Technologies is a stock market analy...,Undisclosed,Undisclosed,2.000000e+05,Seed Funding,2018
296,Creditas Solutions,2018,"Gurgaon, Haryana, India",None,Creditas was set-up in 2015 with an aim to hel...,Undisclosed,Undisclosed,1.200192e+06,Seed Funding,2018
429,Loans4SME,2018,"Mumbai, Maharashtra, India",None,Loans4SME is an alternative lending platform.,Undisclosed,Undisclosed,1.200192e+06,Seed Funding,2018
441,Veritas Finance,2018,"Guindy, Tamil Nadu, India",None,Veritas Finance has been promoted with a prima...,Undisclosed,Undisclosed,3.000000e+07,Undisclosed,2018
473,Avenues Payments India Pvt. Ltd.,2018,"Mumbai, Maharashtra, India",None,Avenues Payments is an IT solutions provider f...,Undisclosed,Undisclosed,1.300000e+06,Corporate Round,2018

In [114]:
others_category.duplicated().sum()

1

In [115]:
others_category.drop_duplicates(keep='first')

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
20,EWar,2019,Bangalore,Others,EWar Games is a e-sports and real-time gaming ...,"Parth Chadha, Rahul Singh","Jindal Steels, Jeet Banerjee",3.000000e+06,Early Stage Funding,2020
35,Hudle,2016,New Delhi,Others,Hudle is a sports & fitness discovery & bookin...,Suhail Narain,Survam Partners,3.000000e+06,Early Stage Funding,2020
66,Bolo Indya,2019,Gurgaon,Others,Bolo Indya is a short video & commerce platfor...,"Tanmai Paul, Varun Saxena","India Accelerator, Sunil Kamath",4.000000e+05,Undisclosed,2020
67,Bombay Play,2017,Bangalore,Others,Bombay Play is a Card and Toy Company Making g...,"Abhas Saroha, Oliver Jones, Oliver Jones","Ramakant Sharma, Leo Capital India",1.000000e+06,Seed funding,2020
69,KIKO TV,2020,Mumbai,Others,KIKO TV is an AI-based short live video e-comm...,"Shivam Varshney, Alok Chawla","9Point8 Capital, Sunil Kumar Singhvi",3.000000e+06,Seed funding,2020
...,...,...,...,...,...,...,...,...,...,...
227,Simulanis,2018,"New Delhi, Delhi, India",Others,A Delhi-based Augmented Reality and Virtual Re...,Undisclosed,Undisclosed,5.000000e+05,Seed Funding,2018
306,Wedeterna,2018,"Bangalore, Karnataka, India",Others,"Wedeterna is a new-age, personalised and fresh...",Undisclosed,Undisclosed,1.200192e+06,Early Stage Funding,2018
330,Bonphul Air Products,2018,"Delhi, Delhi, India",Others,A clean tech product Company,Undisclosed,Undisclosed,2.400384e+05,Early Stage Funding,2018
372,Stelis Biopharma,2018,"Bangalore, Karnataka, India",Others,Stelis Biopharma is a vertically integrated bi...,Undisclosed,Undisclosed,1.000000e+08,Growth Stage Funding,2018
398,Cred,2018,"Bengaluru, Karnataka, India",Others,Cred is a platform to celebrate and reward the...,Undisclosed,Undisclosed,1.200192e+06,Seed Funding,2018

In [121]:
others_category =df_2020_2021_2019_2018 [df_2020_2021_2019_2018['Sector'] == 'Others']
others_category.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage,Funding_Year
20,EWar,2019,Bangalore,Others,EWar Games is a e-sports and real-time gaming ...,"Parth Chadha, Rahul Singh","Jindal Steels, Jeet Banerjee",3000000.0,Early Stage Funding,2020
35,Hudle,2016,New Delhi,Others,Hudle is a sports & fitness discovery & bookin...,Suhail Narain,Survam Partners,3000000.0,Early Stage Funding,2020
66,Bolo Indya,2019,Gurgaon,Others,Bolo Indya is a short video & commerce platfor...,"Tanmai Paul, Varun Saxena","India Accelerator, Sunil Kamath",400000.0,Undisclosed,2020
67,Bombay Play,2017,Bangalore,Others,Bombay Play is a Card and Toy Company Making g...,"Abhas Saroha, Oliver Jones, Oliver Jones","Ramakant Sharma, Leo Capital India",1000000.0,Seed funding,2020
69,KIKO TV,2020,Mumbai,Others,KIKO TV is an AI-based short live video e-comm...,"Shivam Varshney, Alok Chawla","9Point8 Capital, Sunil Kumar Singhvi",3000000.0,Seed funding,2020

In [116]:

# create a dictionary for keywords
keywords = {
    'Bolo Indya is a short video & commerce': 'Media & Entertainment',
    'Bombay Play is a Card and Toy Company Making': 'Manufacturing',
    'KIKO TV is an AI-based short live video': 'IT & Technology',
    'STAGE is an Indian language content platform': 'Media & Entertainment',
    'Mobile Premier League is a skill-based eSports': 'Media & Entertainment',
    'Personalised Video shoutouts from favourite': 'Media & Entertainment',
    "World's First Personal Social Network": 'Media & Entertainment',
    'Mitron is a free short videoplatform for next': 'Media & Entertainment',
    'Business Services': 'Business Services',
    'Consumer Goods': 'Consumer Goods',
    'Manufacturing': 'Manufacturing',
    'Transportation & Logistics': 'Transportation & Logistics',
    'Education': 'Education',
    'Tamasha offers a platform for influencers': 'Media & Entertainment',
    'WinZO is a mobile e-sports social gaming': 'Media & Entertainment',
    'InVideo enables you to transform your content': 'IT & Technology',
    'Tring is a celebrity engagement platform,': 'Media & Entertainment',
    'Pepper Content is a Content-Mediation Platform': 'Media & Entertainment',
    'The gaming company mostly focused on fantasy': 'Media & Entertainment',
    'Video-led social app Public provides users': 'Media & Entertainment',
    'FanPlay Technologies operates as a real-money': 'Financial Services',
    'AI-enabled network of speakers and thought': 'IT & Technology',
    'NewsReach India offers partner publications': 'Media & Entertainment',
    'Dream11 is India’s Biggest Sports Game': 'Sports',
    'Gaana is a commercial music streaming service': 'Media & Entertainment',
    'ShareChat is a social networking and regional': 'IT & Technology',
    'Mobile Premier League (also known as MPL) is': 'Sports',
    'Helps enterprise businesses achieve their mark': 'Business Services',
    'gaming platform': 'Media & Entertainment',
    "India's first vernacular social gaming platform": 'Media & Entertainment',
    "India's only social fantasy gaming platform": 'Media & Entertainment',
    'App for Hindu Puja Products & Services': 'Business Services',
    'entertainment': 'Media & Entertainment',
    'microfinance': 'Financial Services',
    'tyre care': 'Consumer Goods',
    'nbfc': 'Financial Services',
    'specialty food': 'Consumer Goods',
    'mobile game development': 'IT & Technology',
    'campaign management': 'Business Services',
    'electric mobility startup': 'Transportation & Logistics',
    'food science': 'Consumer Goods',
    'machine learning': 'IT & Technology',
    'location based network': 'IT & Technology',
    'real estate': 'Real Estate',
    'semiconductor company': 'IT & Technology',
    'travellers accommodation': 'Travel & Tourism',
    'beauty, wellness': 'Consumer Goods',
    'search engine marketing': 'IT & Technology',
    'digital marketing agency': 'Business Services',
    'cross border e-commerce solutions': 'Business Services',
    'wealth management platform': 'Financial Services',
    'micro-event & contextual marketing': 'Business Services',
    'partners with small and medium businesses': 'Financial Services',
    'celebrate and reward': 'Financial Services',
    'post-harvest management': 'Business Services',
    'cyber security': 'IT & Technology',
    'cosmetics brand': 'Consumer Goods',
    'activity discovery & booking platform': 'Travel & Tourism',
    'edutech': 'Education',
    'Biopharm': 'Healthcare and Life Sciences',
    'EWar Games is a e-sports and real-time gaming': 'Media & Entertainment',
    'Hudle is a sports & fitness discovery & booking': 'Sports',
    'Short Video and Social Platform': 'Media & Entertainment',
    'A free app that users can use to create': 'Media & Entertainment',
    'Enables users to play quizzes around celebriti': 'Media & Entertainment'
}

In [122]:
def assign_sector(what_it_does):
    for keyword,sector in keywords.items():
        if keyword in what_it_does.lower():
            return sector
    return "Others" #Keep Others if no keyword matches

In [125]:
# Update sectors for entries currently labeled as "Others"
df_2020_2021_2019_2018.loc[df_2020_2021_2019_2018['Sector'] == 'Others','Sector'] = df_2020_2021_2019_2018.loc[df_2020_2021_2019_2018['Sector']== 'Others','What_it_does'].apply(assign_sector)
# .apply(assign_sector)

In [126]:
df_2020_2021_2019_2018['Sector'].value_counts()

Sector
IT & Technology               555
Consumer Goods                290
Healthcare & Life sciences    282
Education                     258
Others                        235
Finance Services              191
Business Services             162
Transportation & Logistics    139
Retail                        121
Manufacturing                  79
Agriculture                    65
Media and Entertainment        57
Real Estate                    29
Energy                         24
Travel & Tourism               22
Sports                         13
Media & Entertainment          12
Financial Services              1
Name: count, dtype: int64

In [127]:
df_2020_2021_2019_2018['Sector'].unique()

array(['Agriculture', 'Education', 'Healthcare & Life sciences', None,
       'IT & Technology', 'Business Services', 'Consumer Goods', 'Retail',
       'Others', 'Transportation & Logistics', 'Energy', 'Manufacturing',
       'Media & Entertainment', 'Real Estate', 'Travel & Tourism',
       'Finance Services', 'Media and Entertainment', 'Sports',
       'Financial Services'], dtype=object)

In [130]:
mapping_merged_years = {
    'Agriculture':'Agriculture', 'Education':'Education', 'Healthcare & Life sciences': 'Healthcare & Life sciences', None:None,
       'IT & Technology':'IT & Technology', 'Business Services':'Business Services', 
       'Consumer Goods':'Consumer Goods', 'Retail':'Retail',
       'Others':'Others', 'Transportation & Logistics':'Transportation & Logistics', 'Energy':'Energy', 'Manufacturing': 'Manufacturing',
       'Media & Entertainment':'Media & Entertainment', 'Real Estate': 'Real Estate', 'Travel & Tourism':'Travel & Tourism',
       'Finance Services':'Financial Services', 'Media and Entertainment':'Media & Entertainment', 'Sports':'Sports',
       'Financial Services':'Financial Services'
}

In [131]:
df_2020_2021_2019_2018['Sector'] = df_2020_2021_2019_2018['Sector'].replace(mapping_merged_years)

In [132]:
df_2020_2021_2019_2018['Sector'].value_counts()

Sector
IT & Technology               555
Consumer Goods                290
Healthcare & Life sciences    282
Education                     258
Others                        235
Financial Services            192
Business Services             162
Transportation & Logistics    139
Retail                        121
Manufacturing                  79
Media & Entertainment          69
Agriculture                    65
Real Estate                    29
Energy                         24
Travel & Tourism               22
Sports                         13
Name: count, dtype: int64