EXPLORING THE INDIAN STARTUP ECOSYSTEM

:

:

:

BUSINESS UNDERSTANDING

This project analyze the funding recieved by startups in india from 2018 to 2021. the goal is to investigate the india startups ecosystem and propose strategic recommendations based on data-driven insight, the datasets are provided for each year. and this analysis will cover startups details,funding amounts, and investors information. data is stored across various sources and it is crucial to gather,clean and analyze this data to drive meaningful insights.

HYPOTHESIS

Null Hypothesis(Ho):there is no significant difference in the amount of funding between startups in  "Alocation".
Alternative hypothesis(H1): There is a significant difference in the amount of funding between startups in "Blocation".

ANALYTICAL QUESTIONS

1. What sector  has shown the highest growth in term of funding  recieve over the past 4 years?
2. what geograhical region within india have emerged as the primary hubs for startsup activities and investment and what factors contribute to their prominence
3. Are there any notable differences in funding patterns between early-stage startups and more established companies?
4. which sectors recieve the lowest level of funding and which sector recieve the highest level of funding in india and what factor contribute to this?
5.  which investors has more impact on startsup over the years?
6.  what are the key characteristics of startsup that successfully secure funding and funding and how do they differ from those that stuggle to attract investment ?

DATA UNDERSTANDING

FEATURE DESCRIPTION

Company_Brand:Name of the company/startup

Founded:it contains the year the companies were created

Headquarter: where the companies are located in indian i.e the geographical locations of the companies

Sectors: sector of service

what it does: the description about what the companies does

founders: the names of those who found the companies

investors: these are the names of the shareholders/those who invested in the companies

Amount($): the amount invested in the starting of the companies

Stage:round of funding reached

In [1]:
%pip install pyodbc
%pip install python-dotenv
%pip install scipy
%pip install missingno

Requirement already satisfied: pyodbc in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dotenv in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (1.0.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scipy in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (1.13.0)
Requirement already satisfied: numpy<2.3,>=1.22.4 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from scipy) (1.26.4)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: missingno in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (0.5.2)
Requirement already satisfied: numpy in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from missingno) (1.26.4)
Requirement already satisfied: matplotlib in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from missingno) (3.8.3)
Requirement already satisfied: scipy in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from missingno) (1.13.0)
Requirement already satisfied: seaborn in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from missingno) (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (4.50.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from matplotlib->missingno) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from seaborn->missingno) (2.2.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\balkis\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# import all necessary libraries

#data manipulation
import numpy as np
import pandas as pd 
import missingno as msno

#statistical libaries
from scipy import stats
import statistics as stat

#data visualization libraries
import matplotlib.pyplot as plt 
import seaborn as sns 

#database connection libraries
import pyodbc 
from dotenv import dotenv_values

#hide warnings
import warnings
warnings.filterwarnings('ignore')

Setup Database Connection to extract  2020 and 20201 datasets

In [2]:

# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')
 
# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("UID")
password = environment_variables.get("PWD")

In [3]:

# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete.
# Check your internet connection if it takes more time than necessary
 
connection = pyodbc.connect(connection_string)

In [4]:
# loading the 2020 dataset from SQL Server
query="SELECT * FROM dbo.LP1_Startup_funding2020"
data_2020=pd.read_sql(query, connection)
data_2020.head(20)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
5,qZense,2019.0,Bangalore,AgriTech,qZense Labs is building the next-generation Io...,"Rubal Chib, Dr Srishti Batra","Venture Catalysts, 9Unicorns Accelerator Fund",600000.0,Seed,None
6,MyClassboard,2008.0,Hyderabad,EdTech,MyClassboard is a full-fledged School / Colleg...,Ajay Sakhamuri,ICICI Bank.,600000.0,Pre-series A,None
7,Metvy,2018.0,Gurgaon,Networking platform,AI driven networking platform for individuals ...,Shawrya Mehrotra,HostelFund,NaN,Pre-series,None
8,Rupeek,2015.0,Bangalore,FinTech,Rupeek is an online lending platform that spec...,"Amar Prabhu, Ashwin Soni, Sumit Maniyar","KB Investment, Bertelsmann India Investments",45000000.0,Series C,None
9,Gig India,2017.0,Pune,Crowdsourcing,GigIndia is a marketplace that provides on-dem...,"Aditya Shirole, Sahil Sharma","Shantanu Deshpande, Subramaniam Ramadorai",1000000.0,Pre-series A,None
10,Slurrp Farm,2016.0,Gurgaon,Food & Bevarages,Slurrp Farm is a children health food brand.,Meghana Narayan,Fireside Ventures,2000000.0,Series A,None
11,Medfin,2017.0,Bangalore,HealthTech,Medfin is a Discovery platform for medical pro...,"Arjun Kumar, Arun Kumar, Sidharth Gurjar","Axilor Ventures, S.D. Shibulal",NaN,Series A,None
12,MasterG,2015.0,New Delhi,Fashion startup,MasterG is a design and skill development orga...,Gayatri Jolly,Acumen Fund's angel programme,NaN,None,None
13,Brila 91,2014.0,New Delhi,Food & Bevarages,Bira 91 is a craft beer company.,Ankur Jain,"Sequoia Capital India, Sixth Sense Ventures",1200000.0,None,None
14,FoodyBuddy,2015.0,Belgaum,Food Industry,FoodyBuddy is a online food delivery portal,"Akil Sethuraman, Anup Gopinath, Rachna Rao",Rebel Foods,600000.0,None,None
15,Zomato,2008.0,Gurgaon,Food Delivery,Zomato is a food delivery and restaurant disco...,"Deepinder Goyal, Gaurav Gupta, Pankaj Chaddah","Kora, Tiger Global Management",660000000.0,None,None
16,OurEye.ai,2020.0,Bangalore,Virtual auditing startup,Video intelligence solution for Enterprise Sta...,"Miran Junaidi, Saurabh Ghanekar, Sourav Sanyal","100X VC, Amara Ventures",120000.0,None,None
17,Shiprocket,2017.0,New Delhi,E-commerce,Shiprocket helps online retailers simplify the...,"Gautam Kapoor, Saahil Goel, Vishesh Khurana","Bertelsmann India Investments, InnoVen Capital",7500000.0,Series C,None
18,Pine Labs,1998.0,Noida,FinTech,A merchant platform company that provides fina...,Amrish Rau,"Mastercard, Temasek Holdings",NaN,None,None
19,Moneyboxx Finance,2019.0,New Delhi,FinTech,MONEYBOXX FINANCE LTD is committed to providin...,Prashant Agarwal,"BlackSoil, Caspian",1000000.0,None,None

In [ ]:
# check some of the information of the data1
data_2020.info()

In [6]:
data_2020.shape

(1055, 10)

In [ ]:
query="SELECT * FROM dbo.LP1_Startup_funding2021"
data_2021=pd.read_sql(query, connection)
data_2021.head(20)

In [ ]:
data_2021.info()

In [ ]:
data_2019=pd.read_csv('C:/Users/BALKIS/OneDrive - Azubi Africa/my azubi africa career accelerator projects/LP1/Hypothesis-Testing-and-Eda-on-Indian-Startups-Ecosystem/notebooks/startup_funding2019.csv')
data_2019

In [ ]:
data_2019.info()

In [ ]:
data_2018=pd.read_csv("C:/Users/BALKIS/OneDrive - Azubi Africa/my azubi africa career accelerator projects/LP1/Hypothesis-Testing-and-Eda-on-Indian-Startups-Ecosystem/notebooks/startup_funding2018.csv")
data_2018.head()

In [ ]:
data_2018.info()

Data Assesment

After the data has been loaded, a visual assessment was done on the quality of the data. we realized there are some  issues with the data,this include;
1. inconsistency with the data and some missing column
2. inconsistence values and currencies in the amount column
3. inconsistency values in the sector,location and industry column

DATA CLEANING OF THE 2020 DATASET

In [18]:
# convert to dataframe
df_2020=pd.DataFrame(data_2020)
df_2020

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [19]:
df_2020.shape

(1055, 10)

In [20]:
# add year column to indicate which year the data is from
df_2020['Year']=2020

In [21]:
df_2020.nunique()

Company_Brand    905
Founded           26
HeadQuarter       77
Sector           302
What_it_does     990
Founders         927
Investor         848
Amount           300
Stage             42
column10           2
Year               1
dtype: int64

In [22]:
df_2020.describe().T

,count,mean,std,min,25%,50%,75%,max
Founded,842.0,2.015363e+03,4.097909e+00,1973.0,2014.0,2016.0,2018.0,2.020000e+03
Amount,801.0,1.130430e+08,2.476635e+09,12700.0,1000000.0,3000000.0,11000000.0,7.000000e+10
Year,1055.0,2.020000e+03,0.000000e+00,2020.0,2020.0,2020.0,2020.0,2.020000e+03

In [23]:
df_2020.isnull().mean()

Company_Brand    0.000000
Founded          0.201896
HeadQuarter      0.089100
Sector           0.012322
What_it_does     0.000000
Founders         0.011374
Investor         0.036019
Amount           0.240758
Stage            0.439810
column10         0.998104
Year             0.000000
dtype: float64

In [24]:
# check for duplicates
df_2020.duplicated().sum()

3

In [25]:
# drop the duplicates present
df_2020.drop_duplicates()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10,Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None,2020
...,...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None,2020
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None,2020
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None,2020
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None,2020
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None,2020

In [26]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
 10  Year           1055 non-null   int64
dtypes: float64(2), int64(1), object(8)
memory usage: 90.8+ KB

In [27]:
df_2020.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
Year                0
dtype: int64

In [28]:
#drop column10 because there are a lot of missing values in it 
df_2020.drop(columns='column10', axis=1,inplace=True)

In [31]:
df_2020['Amount'].isnull().sum()

254

CLEANING THE AMOUNT COLUMN

The null values in the amount column should be filled with it median

In [32]:
# find the median value
median_value = df_2020['Amount'].median()

# fill the null values in the amount column with it median value 
df_2020['Amount'].fillna(median_value,inplace=True)

In [33]:
 
# df_2020['Amount'] = df_2020['Amount'].apply(lambda x:float(x))

In [34]:
 
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         1055 non-null   float64
 8   Stage          591 non-null    object
 9   Year           1055 non-null   int64
dtypes: float64(2), int64(1), object(7)
memory usage: 82.6+ KB

In [35]:
# add dollar sign to the amount column
# df_2020['Amount']= df_2020['Amount'].apply(lambda x:f"${x}" )

 
# df_2020

In [36]:
# confirm if the missing values are filled
df_2020['Amount']

0         200000.0
1         100000.0
2        3000000.0
3         400000.0
4         340000.0
           ...
1050     1500000.0
1051    13200000.0
1052     8000000.0
1053     8043000.0
1054     9000000.0
Name: Amount, Length: 1055, dtype: float64

CLEANING THE SECTOR COLUMN

In [37]:
 
df_2020['Sector'].unique()

array(['AgriTech', 'EdTech', 'Hygiene management', 'Escrow',
       'Networking platform', 'FinTech', 'Crowdsourcing',
       'Food & Bevarages', 'HealthTech', 'Fashion startup',
       'Food Industry', 'Food Delivery', 'Virtual auditing startup',
       'E-commerce', 'Gaming', 'Work fulfillment', 'AI startup',
       'Telecommunication', 'Logistics', 'Tech Startup', 'Sports',
       'Retail', 'Medtech', 'Tyre management', 'Cloud company',
       'Software company', 'Venture capitalist', 'Renewable player',
       'IoT startup', 'SaaS startup', 'Aero company', 'Marketing company',
       'Retail startup', 'Co-working Startup', 'Finance company',
       'Tech company', 'Solar Monitoring Company',
       'Video sharing platform', 'Gaming startup',
       'Video streaming platform', 'Consumer appliances',
       'Blockchain startup', 'Conversational AI platform', 'Real Estate',
       'SaaS platform', 'AI platform', 'Fusion beverages', 'HR Tech',
       'Job portal', 'Hospitality', 'Digital Media', 'Dairy startup',
       'Content management', 'Spacetech', 'Transportation',
       'Trading platform', 'AI Company', 'Photonics startup',
       'Entertainment', 'Cosmetics', 'Scanning app', 'Skincare startup',
       'Food and Beverages', 'Biotechnology company', 'FoodTech',
       'Proptech', 'CleanTech', 'Fitness startup', 'Healthcare',
       'PaaS startup', 'Beverages', 'Social Media', 'Automobiles',
       'Deeptech', 'EV startup', 'AR/VR startup', 'Recruitment startup',
       'QSR startup', 'Video platform', 'Edtech', 'Fertility tech',
       'Luxury car startup', 'FM', 'Food', 'Nutrition sector',
       'Tech platform', 'Video', 'Retail Tech', 'HeathTech',
       'Sles and marketing', 'LegalTech', 'Car Service',
       'Bike marketplace', 'Agri tech', 'Reatil startup', 'AR platform',
       'Consumer Goods', 'Content marketplace', 'Interior Design',
       'Rental space', 'Soil-Tech', 'Ayurveda tech',
       'Packaging solution startup', 'Cleantech', 'Sanitation solutions',
       'HealthCare', 'Home Design', 'InsureTech', 'AI Startup',
       'Solar solution', 'Jewellery startup',
       'Multinational conglomerate company', 'Deeptech startup',
       'Social Network', 'Publication', 'Tech', 'Fashion', 'Finance',
       'Venture capital', 'Entreprenurship', 'Food devlivery',
       'Warehouse', 'Online financial service', 'Eyeglasses',
       'Battery design', 'Online credit management startup', 'Beverage',
       'TravelTech', 'Agriculture', 'Startup laboratory',
       'Personal care startup', 'Customer service company',
       'SaaS\xa0\xa0startup', 'Marketing startup', 'Service industry',
       'Social media', 'AI', 'Jewellery', 'AR startup', 'HR Tech startup',
       'Automotive Startup', 'Food Startup', 'EdTech Startup',
       'Car Trade', 'EdtTech', 'Manufacturing', 'AI Platform',
       'Automation', 'Solar SaaS', 'WL & RAC protection',
       'Social commerce', 'Home interior services', 'Agritech startup',
       'API platform', 'Deep Tech', 'Electricity', 'Automotive company',
       'FMCG', 'Insurance Tech', 'Video personalization',
       'Software Company', 'Biomaterial startup', 'Health', 'IT',
       'Craft Beer', 'Healthtech', 'Education', 'Investment',
       'Linguistic Spiritual', 'Construction', 'Battery manufacturer',
       'Nano Distribution Network', 'AI health', 'Dating app', 'Media',
       'Fintech', 'Healthcare/Edtech', 'Social Commerce',
       'Agritech/Commerce', 'Mobility tech', 'Social e-commerce',
       'Food & Logistics', 'SpaceTech', 'Nutrition Tech', 'HR', 'IoT',
       None, 'Agritech', 'Interior design', 'Foodtech', 'AR/VR',
       'Appliance', 'HR tech', 'Food tech', 'Mental Health', 'Ecommerce',
       'Solar Solution', 'SaaS', 'Automobile', 'B2B marketplace',
       'Fashion Tech', 'Nutrition tech', 'Health & Wellness',
       'Cloud Kitchen', 'IoT/Automobile', 'Eye Wear', 'Digital tech',
       'Data Intelligence', 'Co-living', 'Food & Beverages', 'Automotive',
       'B2B', 'Defense tech', 'Marketplace', 'Construction tech',
       'Nutrition', 'Coworking', 'Micro-mobiity', 'Auto-tech', 'Beauty',
       'Robotics', 'Yoga & wellness', 'Logitech', 'Med Tech',
       'Life sciences', 'Retail Aggregator', 'Deep Tech AI', 'Biotech',
       'Blockchain', 'HrTech', 'Mobility/Transport', 'Travel', 'Rental',
       'AI & Debt', 'SaaS/Edtech', 'Transport', 'Co-working', 'Insurtech',
       'Cryptocurrency', 'Automotive tech', 'Legal', 'Fitness', 'EV',
       'Supply chain, Agritech', 'Pharma', 'Insurance technology',
       'Foodtech & Logistics', 'Housing', 'Pharmaceutical',
       'Data Analytics', 'Investment Tech', 'Financial Services',
       'Biopharma', 'Dairy', 'Beauty & wellness', 'Travel & SaaS',
       'Tourism & EV', 'Media Tech', 'Location Analytics', 'E store',
       'Data Science', 'Insurance', 'Health and Fitness', 'Technology',
       'Interior & decor', 'eMobility', 'Automation tech',
       'Media & Networking', 'E-market', 'AI & Data science',
       'Travel tech', 'Automotive and Rentals', 'E-tail', 'Accomodation',
       'AI & Media', 'Machine Learning', 'Content Marktplace',
       'Visual Media', 'Hygiene', 'VR & SaaS', 'Sales & Services',
       'AI & Deep learning', 'Housing & Rentals', 'Estore', 'Marketing',
       'E tailor', 'E-mobility', 'Ad-tech', 'Neo-banking',
       'Transport Automation', 'Techonology', 'Transport & Rentals',
       'AI Robotics', 'Preschool Daycare', 'Food diet', 'B2B Agritech',
       'E-connect', 'Tech hub', 'Consultancy', 'Pharmacy', 'Deisgning',
       'Taxation', 'Automobile Technology'], dtype=object)

In [38]:
mapping_sector_2020 = {
    'AgriTech':'Agriculture', 
    'EdTech':'Education', 
    'Hygiene management':'Healthcare & Life Science', 
    'Escrow':'Financial Services',
    'Networking platform':'IT & Technology',
    'FinTech':'Financial Services',
    'Crowdsourcing':'Business Services',
    'Food & Bevarages':'Consumer Goods', 
    'HealthTech':'Healthcare & Life Science', 
    'Fashion startup':'Consumer Goods',
    'Food Industry':'Consumer Goods',
    'Food Delivery':'Consumer Goods', 
    'Virtual auditing startup':'Financial Services',
    'E-commerce':'Retail',
    'Gaming':'Media & Entertainment', 
    'Work fulfillment':'Business Services',
    'AI startup':'IT & Technology',
    'Telecommunication':'IT & Technology',
    'Logistics':'Transportation & Logistics',
    'Tech Startup':'IT & Technology',
    'Sports':'Others',
    'Retail':'Retail', 'Medtech':'Healthcare & Life Science', 
    'Tyre management':'Transportation & Logistics', 
    'Cloud company':'IT & Technology',
    'Software company':'IT & Technology', 
    'Venture capitalist':'Financial Services',
    'Renewable player':'Energy',
    'IoT startup':'IT & Technology',
    'SaaS startup':'IT & Technology',
    'Aero company':'Manufacturing',
    'Marketing company':'Business Services',
    'Retail startup':'Retail', 
    'Co-working Startup':'Business Services', 
    'Finance company':'Financial Services',
    'Tech company':'IT & Technology', 
    'Solar Monitoring Company':'Energy',
    'Video sharing platform':'Media & Entertainment', 
    'Gaming startup':'Media & Entertainment',
    'Video streaming platform':'Media & Entertainment',
    'Consumer appliances':'Consumer Goods',
    'Blockchain startup':'IT & Technology',
    'Conversational AI platform':'IT & Technology',
    'Real Estate':'Real Estate',
    'SaaS platform':'IT & Technology',
    'AI platform':'IT & Technology',
    'Fusion beverages':'Consumer Goods',
    'HR Tech':'Business Services',
    'Job portal':'Business Services',
    'Hospitality':'Travel & Tourism', 
    'Digital Media':'Media & Entertainment',
    'Dairy startup':'Consumer Goods',
    'Content management':'Business Services',
    'Spacetech':'IT & Technology',
    'Transportation':'Transportation & Logistics',
    'Trading platform':'Financial Services',
    'AI Company':'IT & Technology', 
    'Photonics startup':'IT & Technology',
    'Entertainment':'Media & Entertainment', 
    'Cosmetics':'Consumer Goods',
    'Scanning app':'IT & Technology', 
    'Skincare startup':'Consumer Goods',
    'Food and Beverages':'Consumer Goods', 
    'Biotechnology company':'Healthcare & Life Science', 
    'FoodTech':'Consumer Goods',
    'Proptech':'Real Estate', 
    'CleanTech':'IT & Technology', 
    'Fitness startup':'Healthcare & Life Science',
    'Healthcare':'Healthcare & Life Science',
    'PaaS startup':'IT & Technology',
    'Beverages':'Consumer Goods', 
    'Social Media':'Media & Entertainment', 
    'Automobiles':'Transportation & Logistics',
    'Deeptech':'IT & Technology', 
    'EV startup':'Transportation & Logistics', 
    'AR/VR startup':'IT & Technology', 
    'Recruitment startup':'Business Services',
    'QSR startup':'Consumer Goods',
    'Video platform':'Media & Entertainment',
    'Edtech':'Education',
    'Fertility tech':'Healthcare & Life Science',
    'Luxury car startup':'Transportation & Logistics', 
    'FM':'Consumer Goods', 
    'Food':'Consumer Goods',
    'Nutrition sector':'Consumer Goods',
    'Tech platform':'IT & Technology', 
    'Video':'Media & Entertainment', 
    'Retail Tech':'Retail',
    'HeathTech':'Healthcare & Life Science',
    'Sles and marketing':'Sales & Marketing',
    'LegalTech':'Business Services', 
    'Car Service':'Transportation & Logistics',
    'Bike marketplace':'Transportation & Logistics',
    'Agri tech':'Agriculture', 
    'Reatil startup':'Retail',
    'AR platform':'IT & Technology',
    'Consumer Goods':'Consumer Goods',
    'Content marketplace':'Media & Entertainment', 
    'Interior Design':'Consumer Goods',
    'Rental space':'Real Estate',
    'Soil-Tech':'Agriculture', 
    'Ayurveda tech':'Healthcare & Life Science',
    'Packaging solution startup':'Manufacturing', 
    'Cleantech':'IT & Technology', 
    'Sanitation solutions':'Consumer Goods',
    'HealthCare':'Healthcare & Life Science',
    'Home Design':'Consumer Goods', 
    'InsureTech':'Financial Services', 
    'AI Startup':'IT & Technology',
    'Solar solution':'Energy',
    'Jewellery startup':'Consumer Goods',
    'Multinational conglomerate company':'Others', 
    'Deeptech startup':'IT & Technology',
    'Social Network':'Media & Entertainment',
    'Publication':'Media & Entertainment', 
    'Tech':'IT & Technology',
    'Fashion':'Consumer Goods', 
    'Finance':'Financial Services',
    'Venture capital':'Financial Services',
    'Entreprenurship':'Business Services',
    'Food devlivery':'Consumer Goods',
    'Warehouse':'Transportation & Logistics', 
    'Online financial service':'Financial Services', 
    'Eyeglasses':'Consumer Goods',
    'Battery design':'IT & Technology', 
    'Online credit management startup':'Financial Services',
    'Beverage':'Consumer Goods',
    'TravelTech':'Travel & Tourism', 
    'Agriculture':'Agriculture', 
    'Startup laboratory':'Business Services',
    'Personal care startup':'Consumer Goods', 
    'Customer service company':'Business Services',
    'SaaS\xa0\xa0startup':'IT & Technology', 
    'Marketing startup':'Business Services', 
    'Service industry':'Business Services',
    'Social media':'Media & Entertainment',
    'AI':'IT & Technology', 
    'Jewellery':'Consumer Goods', 
    'AR startup':'IT & Technology',
    'HR Tech startup':'Business Services',
    'Automotive Startup':'Transportation & Logistics', 
    'Food Startup':'Consumer Goods', 
    'EdTech Startup':'Education',
    'Car Trade':'Transportation & Logistics', 
    'EdtTech':'Education',
    'Manufacturing':'Manufacturing',
    'AI Platform':'IT & Technology',
    'Automation':'Transportation & Logistics',
    'Solar SaaS':'Energy',
    'WL & RAC protection':'Consumer Goods',
    'Social commerce':'Retail', 
    'Home interior services':'Consumer Goods', 
    'Agritech startup':'Agriculture',
    'API platform':'IT & Technology', 
    'Deep Tech':'IT & Technology',
    'Electricity':'Energy', 
    'Automotive company':'Transportation & Logistics',
    'FMCG':'Consumer Goods', 
    'Insurance Tech':'Financial Services', 
    'Video personalization':'Media & Entertainment',
    'Software Company':'IT & Technology', 
    'Biomaterial startup':'Healthcare & Life Science', 
    'Health':'Healthcare & Life Science',
    'IT':'IT & Technology',
    'Craft Beer':'Consumer Goods',
    'Healthtech':'Healthcare & Life Science', 
    'Education':'Education', 
    'Investment':'Financial Services',
    'Linguistic Spiritual':'Others', 
    'Construction':'Business Services', 
    'Battery manufacturer':'IT & Technology',
    'Nano Distribution Network':'IT & Technology',
    'AI health':'Healthcare & Life Science',
    'Dating app':'IT & Technology', 
    'Media':'Media & Entertainment',
    'Fintech':'Financial Services', 
    'Healthcare/Edtech':'Healthcare & Life Science', 
    'Social Commerce':'Retail',
    'Agritech/Commerce':'Agriculture',
    'Mobility tech':'Transportation & Logistics', 
    'Social e-commerce':'Retail',
    'Food & Logistics':'Consumer Goods',
    'SpaceTech':'IT & Technology', 
    'Nutrition Tech':'Consumer Goods', 
    'HR':'Business Services', 
    'IoT':'IT & Technology',
    None:None, 
    'Agritech':'Agriculture',
    'Interior design':'Consumer Goods', 
    'Foodtech':'Consumer Goods', 
    'AR/VR':'IT & Technology',
    'Appliance':'Consumer Goods', 
    'HR tech':'Business Services', 
    'Food tech':'Consumer Goods',
    'Mental Health':'Healthcare & Life Science',
    'Ecommerce':'Retail',
    'Solar Solution':'Energy', 
    'SaaS':'IT & Technology',
    'Automobile':'Transportation & Logistics', 
    'B2B marketplace':'Business Services',
    'Fashion Tech':'Consumer Goods',
    'Nutrition tech':'Consumer Goods',
    'Health & Wellness':'Healthcare & Life Science',
    'Cloud Kitchen':'IT & Technology',
    'IoT/Automobile':'Transportation & Logistics', 
    'Eye Wear':'IT & Technology', 
    'Digital tech':'IT & Technology',
    'Data Intelligence':'IT & Technology', 
    'Co-living':'Business Services', 
    'Food & Beverages':'Consumer Goods', 
    'Automotive':'Transportation & Logistics',
    'B2B':'Business Services',
    'Defense tech':'IT & Technology',
    'Marketplace':'Business Services', 
    'Construction tech':'IT & Technology',
    'Nutrition':'Consumer Goods', 
    'Coworking':'Business Services', 
    'Micro-mobiity':'Transportation & Logistics',
    'Auto-tech':'Transportation & Logistics',
    'Beauty':'Consumer Goods',
    'Robotics':'IT & Technology',
    'Yoga & wellness':'Healthcare & Life Science',
    'Logitech':'Transportation & Logistics', 
    'Med Tech':'Healthcare & Life Science',
    'Life sciences':'Healthcare & Life Science',
    'Retail Aggregator':'Retail', 
    'Deep Tech AI':'IT & Technology',
    'Biotech':'Healthcare & Life Science',
    'Blockchain':'IT & Technology', 
    'HrTech':'Business Services',
    'Mobility/Transport':'Transportation & Logistics',
    'Travel':'Travel & Tourism',
    'Rental':'Retail',
    'AI & Debt':'Financial Services', 
    'SaaS/Edtech':'IT & Technology', 
    'Transport':'Transportation & Logistics', 
    'Co-working':'Business Services',
    'Insurtech':'Financial Services',
    'Cryptocurrency':'IT & Technology', 
    'Automotive tech':'Transportation & Logistics', 
    'Legal':'Business Services', 
    'Fitness':'Healthcare & Life Science',
    'EV':'Transportation & Logistics',
    'Supply chain,Agritech':'Agriculture', 
    'Pharma':'Healthcare & Life Science',
    'Insurance technology':'Financial Services',
    'Foodtech & Logistics':'Consumer Goods', 
    'Housing':'Real Estate ',
    'Pharmaceutical':'Healthcare & Life Science',
    'Data Analytics':'IT & Technology',
    'Investment Tech':'Financial Services', 
    'Financial Services':'Financial Services',
    'Biopharma':'Healthcare & Life Science', 
    'Dairy':'Agriculture', 
    'Beauty & wellness':'Consumer Goods', 
    'Travel & SaaS':'Travel & Tourism',
    'Tourism & EV':'Travel & Tourism', 
    'Media Tech':'Media & Entertainment', 
    'Location Analytics':'IT & Technology', 
    'E store':'Retail',
    'Data Science':'IT & Technology', 
    'Insurance':'Financial Services', 
    'Health and Fitness':'Healthcare & Life Science', 
    'Technology':'IT & Technology',
    'Interior & decor':'Consumer Goods', 
    'eMobility':'Transportation & Logistics',
    'Automation tech':'Transportation & Logistics',
    'Media & Networking':'Media & Entertainment',
    'E-market':'Retail', 
    'AI & Data science':'IT & Technology',
    'Travel tech':'Travel & Tourism',
    'Automotive and Rentals':'Transportation & Logistics',
    'E-tail':'Retail', 
    'Accomodation':'Hospitality',
    'AI & Media':'Media & Entertainment', 
    'Machine Learning':'IT & Technology', 
    'Content Marktplace':'Media & Entertainment',
    'Visual Media':'Media & Entertainment',
    'Hygiene':'Healthcare & Life Science', 
    'VR & SaaS':'IT & Technology', 
    'Sales & Services':'Business Services',
    'AI & Deep learning':'IT & Technology',
    'Housing & Rentals':'Real Estate', 
    'Estore':'Retail', 
    'Marketing':'Business Services',
    'E tailor':'Retail',
    'E-mobility':'Retail', 
    'Ad-tech':'IT & Technology',
    'Neo-banking':'Financial Services',
    'Transport Automation':'Transportation & Logistics',
    'Techonology':'IT & Technology', 
    'Transport & Rentals':'Transportation & Logistics',
    'AI Robotics':'IT & Technology', 
    'Preschool Daycare':'Education', 
    'Food diet':'Consumer Goods', 
    'B2B Agritech':'Agriculture',
    'E-connect':'Retail', 'Tech hub':'IT & Technology', 
    'Consultancy':'Business Services',
    'Pharmacy':'Healthcare & Life Science', 
    'Deisgning':'Consumer Goods',
    'Taxation':'Financial Services',
    'Automobile Technology':'Transportation & Logistics'
    }

In [39]:
# mapping the sectors into the key sectors
df_2020['Sector']=df_2020['Sector'].replace(mapping_sector_2020)
# df_2020['Sector'].replace('Retail Services','Retail')

In [40]:
df_2020['Sector'].unique()

array(['Agriculture', 'Education', 'Healthcare & Life Science',
       'Financial Services', 'IT & Technology', 'Business Services',
       'Consumer Goods', 'Retail', 'Media & Entertainment',
       'Transportation & Logistics', 'Others', 'Energy', 'Manufacturing',
       'Real Estate', 'Travel & Tourism', 'Sales & Marketing', None,
       'Supply chain, Agritech', 'Real Estate ', 'Hospitality'],
      dtype=object)

In [41]:
remodifying_df_2020_sector={
    'Agriculture':'Agriculture', 'Education':'Education', 'Healthcare $ Life Science':'Healthcare $ Life Science',
       'Financial Services':'Financial Services', 'IT & Technology':'IT & Technology', 'Business Services':'Business Services',
       'Consumer Goods':'Consumer Goods', 'Retail Services':'Retail', 'Media & Entertainment':'Media & Entertainment',
       'Transportation $ Logistics':'Transportation & Logistics', 'Others':'Others', 'Retail':'Retail',
       'Transportation & Logistics':'Transportation & Logistics', 'Energy': 'Energy', 'Manufacturing': 'Manufacturing',
       'Real Estate':'Real Estate', 'Travel & Tourism':'Travel & Tourism', 'Sales & Marketing':'Business Services',
       'Supply chain, Agritech':'Agriculture', 'Real Estate':'Real Estate',None:None 
}

In [42]:
df_2020['Sector']=df_2020['Sector'].replace(remodifying_df_2020_sector)

In [43]:
df_2020['Sector'].value_counts()

Sector
IT & Technology               191
Financial Services            164
Education                     115
Consumer Goods                109
Healthcare & Life Science      97
Retail                         88
Media & Entertainment          75
Transportation & Logistics     70
Agriculture                    48
Business Services              47
Travel & Tourism               12
Real Estate                    11
Energy                          6
Others                          3
Manufacturing                   3
Hospitality                     2
Real Estate                     1
Name: count, dtype: int64

In [45]:
# drop the 2020 
df_2020.dropna(subset=['Sector'],inplace=True)

In [46]:
df_2020.isnull().sum()

Company_Brand      0
Founded          207
HeadQuarter       92
Sector             0
What_it_does       0
Founders          12
Investor          38
Amount             0
Stage            458
Year               0
dtype: int64

we have reduced the number of sectors to 16

CLEANING THE  STAGE COLUMN

Indian Startup Funding Stages are;
1. Pre-Seed Funding
2. Seed Funding
3. Early Stage Funding 
4. Growth Stage Funding 
5. Ipo(Initial Public Offering)


https://www.startupindia.gov.in/

In [47]:
df_2020['Stage'].unique()

array([None, 'Pre-seed', 'Seed', 'Pre-series A', 'Pre-series', 'Series C',
       'Series A', 'Series B', 'Debt', 'Pre-series C', 'Pre-series B',
       'Series E', 'Bridge', 'Series D', 'Series B2', 'Series F',
       'Pre- series A', 'Edge', 'Series H', 'Pre-Series B', 'Seed A',
       'Series A-1', 'Seed Funding', 'Pre-Seed', 'Seed round',
       'Pre-seed Round', 'Seed Round & Series A', 'Pre Series A',
       'Pre seed Round', 'Angel Round', 'Pre series A1', 'Series E2',
       'Pre series A', 'Seed Round', 'Bridge Round', 'Pre seed round',
       'Pre series B', 'Pre series C', 'Seed Investment', 'Series D1',
       'Mid series', 'Series C, D', 'Seed funding'], dtype=object)

In [ ]:
df_2020['Stage'].value_counts()

In [48]:
# Define the dictionary for mapping startup funding stages
stage_mapping = {
    None:None, 
    'Pre-seed':'Pre-seed funding',
    'Seed':'Seed funding',
    'Pre-series A':'Early Stage Funding' ,
    'Pre-series':'Pre-seed funding', 
    'Series C':'Growth Stage Funding',
    'Series A':'Early Stage Funding', 
    'Series B':'Growth Stage Funding', 
    'Debt':'Debt', 
    'Pre-series C':'Growth Stage Funding', 
    'Pre-series B':'Growth Stage Funding',
    'Series E':'Late Stage Funding', 
    'Bridge':'Bridge Round', 
    'Series D':'Late Stage Funding', 
    'Series B2':'Growth Stage Funding', 
    'Series F':'Late Stage Funding',
    'Pre- series A':'Early Stage Funding', 
    'Edge':'Edge', 
    'Series H':'Late Stage Funding', 
    'Pre-Series B':'Growth Stage Funding', 
    'Seed A':'Seed funding',
    'Series A-1':'Early Stage Funding', 
    'Seed Funding':'Seed funding', 
    'Pre-Seed':'Pre-seed funding', 
    'Seed round':'Seed funding',
    'Pre-seed Round':'Pre-seed funding', 
    'Seed Round & Series A':'Early Stage Funding', 
    'Pre Series A':'Early Stage Funding',
    'Pre seed Round':'Pre-seed funding', 
    'Angel Round':'Seed funding', 
    'Pre series A1':'Early Stage Funding', 
    'Series E2':'Late Stage Funding',
    'Pre series A':'Early Stage Funding', 
    'Seed Round':'Seed funding', 
    'Bridge Round':'Bridge Round', 
    'Pre seed round':'Pre-seed funding',
    'Pre series B':'Growth Stage Funding', 
    'Pre series C':'Growth Stage Funding', 
    'Seed Investment':'Seed funding', 
    'Series D1':'Late Stage Funding',
    'Mid series':'Growth Stage Funding', 
    'Series C, D':'Late Stage Funding', 
    'Seed funding':'Seed funding'
   
}

In [49]:
# replace the stage column with the mapping dictionary
df_2020['Stage']=df_2020['Stage'].replace(stage_mapping)

In [ ]:
df_2020['Stage'].value_counts()

In [50]:
df_2020['Stage'].unique()

array([None, 'Pre-seed funding', 'Seed funding', 'Early Stage Funding',
       'Growth Stage Funding', 'Debt', 'Late Stage Funding',
       'Bridge Round', 'Edge'], dtype=object)

CLEANING THE HEADQUARTER COLUMN

In [58]:
df_2020['HeadQuarter'].isnull().sum()

92

CLEANING THE FOUNDED COLUMN

In [59]:
df_2020['Founded'].isnull().sum()

207

In [ ]:
df_2020['Founded']=df_2020['Founded'].astype(datetime)

In [ ]:
# convert the column founded to a int datatype
# df_2020['Founded']=df_2020['Founded'].fillna(-1).astype(int).astype(str)
# convert to datetime
# df_2020['Founded']=pd.to_datetime(df['Founded'],format='%Y',errors='coerce')
# print(df_2020)
# print(df_2020['Founded'])
df_2020

In [73]:
df_2020['Investor'].value_counts()

Investor
Venture Catalysts              20
Mumbai Angels Network          12
Angel investors                12
Inflection Point Ventures      11
Undisclosed                    10
                               ..
Ronald Conway, Bay Partners     1
Prospect Partners.              1
Omnivore, Zeroth.AI             1
Mumbai Angels.                  1
SIG Global India Fund LLP.      1
Name: count, Length: 839, dtype: int64

In [67]:
df_2020['Investor'].isnull().sum()

38

In [77]:
df_2020.dropna(subset=['Investor'],inplace=True)

In [78]:
df_2020['Investor'].isnull().sum()

0

In [72]:
df_2020['What_it_does'].isnull().sum()

0

:

In [ ]:
query="SELECT * FROM dbo.LP1_Startup_funding2021"
data_2021=pd.read_sql(query, connection)
data_2021.head(20)

:

In [ ]:
data_2021.info()

:

In [ ]:
df_2021=pd.DataFrame(data_2021)
df_2021

:

In [ ]:
df_2021.info()

:

In [ ]:
#remove the column stage
df_2021.drop(columns='Stage',axis=1,inplace=True)

:

In [ ]:
# add the year column to 2021 dataframe as well
df_2021['Year']=2021

:

In [ ]:
df_2021.isnull().sum()

:

In [ ]:
data_2021.shape

:

In [79]:
data_2019=pd.read_csv('C:/Users/BALKIS/OneDrive - Azubi Africa/my azubi africa career accelerator projects/LP1/Hypothesis-Testing-and-Eda-on-Indian-Startups-Ecosystem/notebooks/startup_funding2019.csv')
data_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [80]:
data_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [81]:
# convert to Dataframe
df_2019=pd.DataFrame(data_2019)
df_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [84]:
df_2019.duplicated().sum()

0

In [ ]:
# drop the stage column 
df_2019.drop(columns='Stage',axis=1,inplace=True)

:

In [ ]:
df_2019.isnull().sum()

:

In [ ]:
data_2019.shape

:

In [ ]:
data_2019.size

:

In [ ]:
# add the year column to 2019 dataframe
df_2019['Year']=2019

:

In [ ]:
df_2019.rename(columns={'Company/Brand':'Company_Brand'},inplace=True)
df_2019

:

:

In [ ]:
data_2018.info()

:

In [ ]:
data_2018.columns=['Company_Brand','Sector','Stage','Amount($)','HeadQuarter','What it does']
data_2018

:

In [ ]:
# convert the 2018 data into a dataframe
df_2018=pd.DataFrame(data_2018)
df_2018

:

In [ ]:
df_2018.info()

:

In [ ]:
# add the year column to the 2018 dataframe 
df_2018['Year']=2018

:

In [ ]:
# merge and concertinate all dataframe together to get a single dataframe 
# concertinate 2021,2020,2019 dataframe togeteher 
df_2020_2021_2019=pd.concat([df_2020,df_2021,df_2019])
df_2020_2021_2019

:

: